@import '../../styles/theme.scss';
.utp-help {
  min-height: 100%;
  background: #f5f5f5;
  &-item {
    background: #fff;
    padding-left: 30px;
    padding-right: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
  }
}
