@import '../../../styles/theme.scss';
.utp-asslable {
  width: 100%;
  background: $bgColor-normal;
  padding: 30px 20px 28px;
  margin-bottom: 20px;
  &-item {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
  }
  &-center {
    margin-left: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: flex-end;
  }
  &-btn {
    width: 140px;
    height: 60px;
    background: $color-active;
    border-radius: 30px;
  }
}
