@import '../../../styles/theme.scss';
.utp-password {
  &-box {
    margin-top: 66px;
    margin-left: 24px;
    margin-right: 24px;
    margin-right: 42px;
  }
  &-ipts {
    height: 88px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    &-ico {
      width: 48px;
      height: 48px;
      margin-right: 20px;
    }
    &-tips {
      width: 230px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
    &-ipt {
      flex: 1;
      font-size: 26px;
    }
    &-clo {
      width: 28px;
      height: 28px;
      margin-right: 14px;
    }
    &-btn {
      width: 160px;
      height: 64px;
      border-radius: 64px;
      border: 1px solid #cdcdcd;
      &-1 {
        border: 1px solid #ff317c;
      }
    }
  }
}
.taro_page {
  background-color: #f5f5f5;
}
