@import '../../styles/theme.scss';
.utp-tag {
  height: 28px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  background-color: $color-active;
  /*postcss-pxtransform rn eject enable*/
  background-image: linear-gradient(to right, #fc3344, #fd25e5);
  /*postcss-pxtransform rn eject disable*/
  &-1 {
    height: 32px;
    border-width: 1px;
    border-color: #ff2f3d;
    background-color: $bgColor-normal;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fff, #fff);
    /*postcss-pxtransform rn eject disable*/
  }
  &-2 {
    height: 32px;
    border-radius: 32px;
    border-width: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
  &-21 {
    height: 32px;
    border-radius: 32px;
    border-width: 0;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #999;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #999, #999);
    /*postcss-pxtransform rn eject disable*/
  }
  &-3 {
    height: 32px;
    border-width: 1px;
    border-color: #ff2f3d;
    background-color: $color-active;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, $color-active, $color-active);
    /*postcss-pxtransform rn eject disable*/
  }
  &-4 {
    height: 32px;
    border-width: 1px;
    border-color: #25A6FA;
    background-color: #ffffff;
    background-image: none;
    margin-left: 10px;
  }
  &-31 {
    height: 32px;
    border-width: 1px;
    border-color: #fff5f9;
    background-color: #fff5f9;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fff5f9, #fff5f9);
    /*postcss-pxtransform rn eject disable*/
  }
  &-5 {
    height: 36px;
    border-width: 1px;
    border-color: #ffedf4;
    background-color: #ffedf4;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #ffedf4, #ffedf4);
    /*postcss-pxtransform rn eject disable*/
  }
  &-6 {
    height: 36px;
  }
  &-10 {
    height: 58px;
    border-radius: 58px;
    border-width: 1px;
    border-color: #f1f1f1;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #f1f1f1;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #f1f1f1, #f1f1f1);
    /*postcss-pxtransform rn eject disable*/
  }
  &-11 {
    height: 58px;
    border-radius: 58px;
    border-width: 1px;
    border-color: $color-active;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #fff5f9;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fff5f9, #fff5f9);
    /*postcss-pxtransform rn eject disable*/
  }
  &-12 {
    height: 58px;
    border-radius: 58px;
    border-width: 1px;
    border-color: #a6a6a6;
    background-color: $bgColor-normal;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    border-style: dashed;
    /*postcss-pxtransform rn eject disable*/
  }
  &-13 {
    height: 64px;
    border-radius: 64px;
    border-width: 1px;
    border-color: #f5f5f5;
    min-width: 100px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #f5f5f5;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #f5f5f5, #f5f5f5);
    /*postcss-pxtransform rn eject disable*/
  }
  &-14 {
    height: 64px;
    border-radius: 64px;
    border-width: 1px;
    border-color: $color-active;
    padding-left: 28px;
    min-width: 100px;
    padding-right: 28px;
    background-color: #fff5f9;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fff5f9, #fff5f9);
    /*postcss-pxtransform rn eject disable*/
  }
  &-15 {
    height: 40px;
    border-radius: 40px;
    border-width: 1px;
    border-color: #eeeeee;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #eeeeee;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #eeeeee, #eeeeee);
    /*postcss-pxtransform rn eject disable*/
  }
}
