@import '../../styles/theme.scss';
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.utp-step {
  width: 100%;
  height: 44px;
  justify-content: flex-end;
  &-num {
    width: 80px;
    height: 40px;
    font-size: 28px;
    color: rgba(51, 51, 51, 1);
  }
  &-img {
    width: 20px;
    height: 20px;
  }
  &-minus {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid rgba(238, 238, 238, 1);
  }
  &-add {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: #fff5f9;
  }
}
