@import '../../../styles/theme.scss';

.utp-browsingHistory {
  top: 0;
}

.utp-100 {
  width: 750px;
  position: relative;
  z-index: 1;
}
.utp-canUse {
  min-height: 100vh;
  background-color: #f5f5f5;
  &-tips {
    padding: 34px 24px;
    margin-bottom: 20px;
    background-color: #fff;
  }
}
