@import '../../styles/theme.scss';
$color: $color-active;
@mixin flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.utp-sku {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 810;
  &-active {
    visibility: visible;
    .utp-sku-overlay {
      opacity: 1;
    }
    .utp-sku-container {
      transform: translate3d(0, 0, 0);
    }
  }
  &-unopen {
    transition: visibility 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }
}
.utp-sku-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.utp-sku-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  max-height: 1000px;
  overflow-y: scroll;
  background-color: $bgColor-normal;
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1),
    -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
}

.utp-sku .layout-header {
  position: relative;
  .close-img {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
  }
}
.utp-skuflex {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.utp-info {
  flex: 1;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  &-price {
    margin-top: 6px;
    text-align: left;
    font-size: 28px;
    color: $color-normal;
    line-height: 40px;
  }
  &-aprice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 50px;
    font-size: 36px;
    color: $color;
  }
  &-price2 {
    text-decoration: line-through;
  }
  &-unit {
    margin-left: 18px;
    font-size: 28px;
  }
}

.utp-props {
  margin-top: 16px;
  &-num {
    @include flexBox();
  }
  &-limitTip {
    margin-bottom: 252px;
  }
  &-leave {
    @include flexBox();
    justify-content: center;
    height: 76px;
  }
}
.utp-norms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 26px;
  margin-top: 30px;
  &-item {
    @include flexBox();
    padding: 10px 24px;
    height: 56px;
    min-width: 128px;
    border-radius: 28px;
    background: #f1f1f1;
    margin-right: 24px;
    margin-bottom: 24px;
    justify-content: center;
  }
  &-active {
    border-color: $color;
    border-width: 1px;
    color: $color;
    background: #fff5f9;
  }
  &-unuseable {
    color: #a6a6a6;
    background: $bgColor-normal;
    border-color: #a6a6a6;
    border-style: dashed;
    border-width: 1px;
  }
}
.utp-skubtn {
  width: 100%;
  @include flexBox();
  &-item {
    height: 72px;
    width: 330px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-disabled {
    flex: 1;
  }
  &-alone {
    background-color: $color-deep;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #333, #222);
    /*postcss-pxtransform rn eject disable*/
  }
  &-assemble {
    background-color: #ff1a8a;
    /*postcss-pxtransform rn eject enable*/
    background: linear-gradient(to right, #fc3344, #fd25e5);
    /*postcss-pxtransform rn eject disable*/
  }
}
