@import '../../../styles/theme.scss';
.uto-liber {
  &-hd {
    background-color: #000000;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 8px;
    &-back {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 108px;
      z-index: 1;
      &-1 {
        left: auto;
        right: 0;
      }
    }
  }
  &-bd {
    min-height: 100vh;
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 100px;
  }
  &-imgs {
    width: 710px;
    margin-bottom: 20px;
  }
}
