@import '../../../styles/theme.scss';

.utp-customerService {
  &-infoBox {
    height: 100%;
    width: 100%;
    background: $bgColor-dark;
  }
  &-address {
    height: 150px;
  }
  &-bottomBtnGroup {
    width: 100%;
    height: 200px;
    background: $bgColor-dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-bottomBtn {
    width: 300px;
    height: 100px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 20px;
  }
  &-active {
    margin-left: 20px;
    border: none;
    background: $color-active;
  }

  &-steps {
    width: 100%;
    height: 80px;
    background-color: $bgColor-dark;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    z-index: 1;
    margin-top: 80px;

    &-tips {
      width: 120px;
      line-height: 80px;
    }

    &-title {
      color: $color-low;
      font-size: 28px;

      &-active {
        font-weight: bold;
        font-size: 28px;
        color: $color-deep;
      }
    }
  }
  &-submit {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
  }
  &-goodsInfos {
    margin-top: 80px;
  }
  &-goodsInfo {
    width: 100%;
    height: 230px;
    background-color: $bgColor-normal;
    margin-bottom: 12px;
    position: relative;
    padding: 20px;
    margin-bottom: 12px;
    &-price {
      font-size: 28px;
      font-weight: 500;
      color: $color-active;
    }
    .utp-goods {
      height: 100%;
    }

    .utp-goods-add,
    .utp-goods-nums,
    .utp-goods-dec,
    .utp-goods-check,
    .utp-step {
      display: none;
    }
    &-box {
      margin-left: 20px;
      // flex:1;
    }
    &-num {
      font-size: 24px;
      font-weight: normal;
      right: 36px;
      bottom: 16px;
      color: $color-normal;
    }
   
    &-names {
      font-size: 26px;
      color: $color-deep;
      line-height: 36px;
      height: 72px;
      width: 500px;
      @include lamp-clamp(2);
    }
    &-norms {
      padding: 6px 14px;
      color: $color-normal;
      font-size: 20px;
      line-height: 40px;
      background: rgba(246, 246, 246, 1);
      border-radius: 20px;
      margin: 6px 0;
      display: inline-block;
    }
  }

  &-number {
    width: 100%;
    height: 100px;
    background-color: $bgColor-normal;
    margin-bottom: 12px;
    position: relative;
    padding: 0 30px;
    &-serviceNum {
      min-width: 130px;
      font-size: 28px;
      color: $color-deep;
    }

    &-addOrDec {
      width: 50%;
      height: 100%;
      // background-color: yellow;
      position: absolute;
      right: 40px;
    }

    &-add {
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: $bgColor-normal;
      border-color: #fff5f9;
    }
    &-add-ico {
      width: 18px;
      height: 18px;
    }
    &-dec-ico {
      width: 18px;
      height: 18px;
    }
    &-dec {
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      transform: translateY(-50%);
      right: 122px;
      background-color: $bgColor-normal;
      border-width: 2px;
      border-color: #f7f7f7;
      border-radius: 2px;
    }

    &-nums {
      position: absolute;
      width: 78px;
      height: 44px;
      top: 50%;
      transform: translateY(-50%);
      right: 44px;
    }

    &-num {
      color: $color-deep;
      font-size: 30px;
    }
  }

  &-reason {
    width: 100%;
    height: 100px;
    background-color: $bgColor-normal;
    margin-bottom: 12px;

    &-serviceReason {
      font-size: 28px;
      color: $color-deep;
      margin-left: 30px;
    }

    &-tips {
      color: $color-low;
      font-size: 28px;
      padding-right: 30px;
    }
  }

  &-explain {
    width: 100%;
    height: 440px;
    background-color: $bgColor-normal;
    margin-bottom: 12px;

    &-explainContent {
      height: 100%;
      width: 100%;
      // background-color: lightcoral;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 30px;
      padding-left: 30px;
      position: relative;

      &-text {
        font-size: 28px;
        color: $color-deep;
        margin-top: 10px;
        height: 280px;
        width: 100%;
        border: none;
        padding: 20px;
      }

      &-numLength {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 28px;
        color: $color-deep;
      }
    }
  }
  &-voucher {
    width: 100%;
    min-height: 466px;
    background-color: $bgColor-normal;
    margin-bottom: 12px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;

    &-voucherImg {
      width: 100%;
      min-height: 220px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-img{
      margin-right:10px;
      margin-bottom: 20px;
    }
  }

  &-hideReason {
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    z-index: 100;
    position: fixed;

    &-hidden {
      display: none;
    }

    &-chooseReason {
      width: 100%;
      height: 600px;
      background-color: $bgColor-normal;
      position: absolute;
      bottom: 0;
      overflow-y: scroll;
    }

    &-chooseItem,
    &-chooseItem-active {
      text-align: center;
      width: 100%;
      height: 120px;
      font-size: 30px;
      color: $color-normal;
      line-height: 120px;
      border-bottom: 2px solid #eeeeee;
    }

    &-chooseItem-active {
      color: $color-active;
    }
  }

  &-infoBox2 {
    padding-top: 80px;
    background-color: $bgColor-normal;

    .utp-customerService-goodsInfo {
      margin: 12px 0;
    }
  }

  &-logisticsBox {
    width: 100%;
  }
  &-logistics {
    width: 100%;
    height: 100px;
    font-size: 28px;
    border-bottom: 1px solid #f7f7f7;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;

    &-text {
      color: $color-low;
    }

    &-text-1 {
      flex: 1;
      color: $color-deep;
      margin-left: 40px;
      text-align: right;
    }
  }
}

// .utp-customerService-goodsInfo > .utp-step {
//   display: none;
// }
