@import '../../../styles/theme.scss';

.utp-clothingBusiness {
  margin-bottom: 140px;
  position: relative;
  background: #f5f5f5;
  top: 0;
  &-topcon{
    // position: relative;
    height: 600px;
    background-size: cover!important;
  }
  &-bgtop{
    position: absolute;
    width:100%;
    height:600px;
    top:0;
    left:0;
  }
  &-home {
    position: absolute;
    width:100%;

  }
  &-bg2{
    position: absolute;
    width: 100%;
    left:0;
    top:0;
  }
  &-cardbox {
    // width: 100%;
    box-sizing: border-box;
    padding: 20px;
    // padding-top:10px;
    background: #ffffff;
    margin: 0 auto;
    // margin-bottom: 20px;
    border-radius: 12px;
    margin:0 20px;
    margin-bottom: 20px;
  }

  &-scroll {
    height: 660px;
    overflow-y: scroll;
  }
  &-storeIcon {
    position: absolute;
    right: 30px;
    top: -60px;
  }
  &-bgWrap {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-summary {
    font-size: 20px;
    height: 72px;
    line-height: 36px;
    color: $color-low;
    @include lamp-clamp(2);
  }
  &-storeInfo {
    position: relative;
    width: 100%;
    padding-top:200px;
    min-height: 100px;
    &-card {
      // background: #fff;;
      width: 100%;
      padding-left: 30px;
      color: #fff;
     
    }

    &-score {
      width: 100%;
      height: 30px;
      margin-top:20px;
      margin-bottom: 20px;
    }

    &-address {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 40px;
    }

    &-addressInfo {
      width: 560px;
      font-size: 24px;
      color: $color-deep;
    }

    &-Discount {
      margin-right: 20px;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    &-Coupon {
      font-size: 24px;
      color: $color-active;
      border-left: 1px solid $color-active;
      border-right: 1px solid $color-active;
      border-top: 1px solid $color-active;
      border-bottom: 1px solid $color-active;
      text-align: center;
      line-height: 40px;
      padding: 0 10px;
      background: $bgColor-normal;
    }
    &-reduction {
      height: 42px;
      color: #fff;
      font-size: 24px;
      background: $color-active;
      padding: 0 10px;
    }
  }

  &-titles {
    // height: 70px;
    position: relative;
    margin-bottom: 13px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-tag {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
  &-tag {
    margin-right: 16px;
  }
  &-lables{
    padding-left:14px;
    position: relative;
    margin-right: 8px;
  }
  // &-before{
  //   // display: block;
  //   width:1px;
  //   height: 12px;
  //   background: #eee;
  //   position: absolute;
  //   top:0;
  //   bottom: 0;
  //   margin:auto;
  //   left:0;
  //   // content: '';
  // }
  &-title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    margin-right:24px;
    /*postcss-pxtransform rn eject enable*/
    // text-indent: 64px;
    /*postcss-pxtransform rn eject disable*/
    @include lamp-clamp(2);
  }

  &-openCoupon {
    width: calc(100% + 48px);
    height: 780px;
    background-color: $bgColor-normal;
    position: absolute;
    top: 0;
    left: -24px;
    z-index: 2;
    padding: 0 24px;
  }

  &-iconUp {
    position: absolute;
    bottom: 70px;
    left: 50%;
    z-index: 2;
  }

  &-hidden {
    display: none;
  }

  // 切换
  &-clothingTab {
    width: 100%;
    height: 90px;
    // background-color: $bgColor-normal;
    line-height: 80px;
    // margin-bottom: 20px;
    // background: url('../../../assets//shoppingStore/tabBg.png');
    // background-size: cover;
    // padding-left:20px;
    // }
    &-1,
    &-1-active {
      font-size: 32px;
      color: #fff;
      position: relative;
      width: 140px;
      text-align: center;
      font-weight: 400;
    }

    &-1-active {
      font-weight: 600;
    }

    &-1-active::after {
      display: block;
      position: relative;
      content: '';
      width: 60px;
      height: 6px;
      background-color: $bgColor-normal;
      border-radius: 4px;
      z-index: 1;
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
    }
  }
  &-top {
    background: #fff;
  }

  &-topfix ,&-topfix-active{
    font-size: 32px;
    color: #000;
    position: relative;
    width: 140px;
    text-align: center;
    font-weight: 400;
  }
   &-topfix-active {
    font-weight: 600;
  }
  &-topfix-active::after {
    display: block;
    content: '';
    width: 60px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
  }
  &-clothingTabList-2 {
    flex: 1;
    &-title {
      padding-left: 20px;
      padding-right: 20px;
      height: 510px;
      background: $bgColor-normal;
     
      border-radius: 16px;
      margin:0 20px;
      margin-bottom: 20px;
    }
  }

  &-TabListScroll {
    background: $bgColor-normal;
    padding:0 20px;
    margin:0 20px;
    height:202px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    &-box {
      flex-shrink: 0;
      margin-right: 44px;
    }
  }

  &-homeImg {
    background: #fff;
    height: 650px;
    padding: 10px;
    padding-bottom: 0;
    margin: 0 20px;
    &-item {
      height: 230px;
    }
  }
  &-clothingTabList {
    position: relative;
    &-contBg ,&-contBgtop,&-contBgcen{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 578px;
      // background: url('../../../assets/shoppingStore/contBg.png') 100% 100%;
      background-size: cover;
    }
    &-contBgtop{
      background: #fff;
    }
    &-contBgcen{
      // background: url('../../../assets/shoppingStore/tabBg2.png') 100% 100%;
      background-size: cover;
    }
  }

  &-adv {
    width: 100%;
    /*  #ifdef weapp  */
    margin-bottom: 20px;
    /*  #endif  */
    /*  #ifdef h5  */
    height: auto !important;
    /*  #endif  */
  }
  .swiper-container {
    height: 100%;
  }
  &-advitem {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    &-img {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      border-radius: 12px;
    }
  }
  &-class {
    padding: 20px;
    padding-top: 0;
    &-item {
      position: relative;
      padding: 0 20px;
      background: #fff;
      border-radius: 20px;
      margin-top: 20px;
    }

    &-lable {
      width: 316px;
      padding-left: 10px;
      background: #f2f2f2;
      margin-bottom: 10px;
      border-radius: 10px;
    }
  }
  &-ft {
    height: 124px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
  }
}
