@import '../../../styles/theme.scss';
/* Fading entrances  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 250ms;
}
/* Fading exits */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.animate__fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 250ms;
}

.utp-voucherOrder {
  &-time {
    height: 88px;
    background-color: #ffe6ef;
  }
  &-modal {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  min-height: 100vh;
  background-color: #f5f5f5;
  padding-bottom: 170px;
  &-goods {
    padding: 24px;
    background-color: #fff;
    margin-bottom: 20px;
    &-imgs {
      width: 140px;
      height: 140px;
      margin-right: 20px;
    }
    &-box {
      flex: 1;
      &-title {
        margin-bottom: 38px;
      }
    }
  }
  &-code {
    padding: 24px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  &-box {
    padding: 0 24px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  &-box1 {
    padding: 15px 24px;
    &-1 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-tips {
    margin-left: 20px;
    margin-bottom: 4px;
    margin-top: -6px;
  }
  &-title {
    border-bottom: 1px solid #eeeeee;
  }
  &-codes {
    width: 32px;
    height: 32px;
    margin-left: 18px;
    background-color: #fff;
  }
  &-ft {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &-ft1 {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 88px;
    padding: 0 20px;
    &-btn {
    }
  }
}
