@import '../../../styles/theme.scss';
.utp-selectPro {
  width: 100%;
  height: 100%;
  background:rgba(245,245,245,1);
  display: flex;
  flex-direction: column;
  position: relative;
  &-bar{
    padding:0 20px;
    background-color: #fff;
  }
  &-top {
    width: 100%;
    padding:0 20px;
    background: $bgColor-dark;
    &-img{
      width:80px;
      height: 80px;
      margin-right: 20px;
      border-radius:4px;
      border:1px solid rgba(221,221,221,1);
    }
  }
  &-topBox{
    width:100%;
    flex:1;
  }
  &-selectBox{
      position: absolute;
      top:204px;
      left:0;
      right:0;
      height:470px;
      overflow-y: scroll;
      background: #fff;
      z-index: 9;
      padding:0 20px;
      &-title{
          color: $color-deep;
          font-size: 28px;
          width:480px;
          @include text-ellipsis() ;
          margin:0 20px;
      }
      &-Img{
          width:80px;
          height: 80px;
          border-radius:4px;
          border:1px solid #DDDDDD
      }
  }
  &-mask{
      z-index: 3;
      position: absolute;
      top:206px;
      left:0;
      right: 0;
      min-height: 100%;
      background:rgba(0,0,0,0.5);
  }
  &-productsBox{
    width:100%;
    flex:1;
    overflow-y: scroll;
  }
  &-productBox{
    width:100%;
    padding:24px 30px;
    background-color: #fff;
    margin-bottom:10px ;
   &-title{
     color:$color-deep;
    width:340px;
    font-size:32px;
    line-height:40px;
    min-height: 80px;
    @include lamp-clamp(2) ;
   }
   &-img{
     width: 256px;
     height: 256px;
     border-radius:8px;
     border:1px solid rgba(247,247,247,1);
   }
   &-label{
    padding:0 6px;
    height:28px;
    text-align: center;
    line-height: 28px;
    color: $color-active;
    font-size:20px ;
    border-radius:4px;
    border:1px solid $color-active;
    margin-left: 10px;
   }
   &-price{
    color:$color-active;
    font-size: 40px;
    font-weight:500;
    margin-right: 10px;
   }
   &-orprice{
    font-size:24px;
    color: $color-normal;
    text-decoration: line-through;
   }
   &-norms{
     max-width:330px;
     font-size:26px ;
    padding:0 20px;
    height:44px;
    background:rgba(246,246,246,1);
    border-radius:22px;
    color: $color-normal;
   }
  }
}
