@import '../../styles/theme.scss';

.utp-body {
  width: 100%;
}
.utp-miniLogin {
  min-height: 100vh;
  position: relative;
  background-color: #f5f5f5;
  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 400px;
  }
  &-btn {
    width: 600px;
    background-color: #00c166;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 14px;
    font-size: 28px;
    color: #fff;
  }
  &-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    height: 70px;
    font-size: 24px;
  }
  &-ft {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
  }
}

.utp-login {
  // background-color: palevioletred;
  width: 100%;
  margin-top: 200px;
  &-loginimg {
    width: 100%;
    height: 800px;
  }
  &-margin {
    margin: 0 90px;
  }
  &-title {
    margin: 0 90px;
    margin-bottom: 44px;
  }
  &-bigInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    caret-color: #fff;
  }
  &-input {
    margin: 0 90px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-low;
    font-size: 28px;
    border-bottom: 2px solid #ccc;
  }
  &-password {
    width: 396px;
  }
  &-num {
    font-size: 40px;
    color: $color-deep;
  }
  &-btmBox {
    position: relative;
    margin: 0 90px;
    margin-top: 48px;
  }
  &-btn {
    width: 260px;
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 47, 61, 1) 0%, rgba(255, 0, 232, 1) 100%);
    border-radius: 51px;
  }
  &-prot {
    margin: 0 90px;
    margin-top: 60px;
    &-img {
      margin-right: 8px;
    }
  }
  &-weChatLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
    // position: absolute;
    // bottom: 140px;
    width: 100%;
    &-text {
      font-size:22px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(204,204,204,1);
      display: flex;
      align-items: center;
      &-line {
        width:72px;
        height:4px;
      }
      &-content {
        margin: 0 14px;
      }
    }
    &-logo {
      margin-top: 20px;
      width: 100px;
      height: 100px;
      &-img {
        width: 100px;
        height: 100px;
      }
    }
  }
  &-disable {
    background: #cccccc;
  }
  &-codes {
    width: 70px;
    height: 80px;
    border-bottom: 2px solid #ccc;
    margin-right: 12px;
    text-align: center;
    &-item {
      font-size: 44px;
      color: $color-deep;
      font-weight: 600;
    }
  }
  &-codes2 {
    padding: 0 20px;
    font-size: 32px;
    width: 100%;
    border-bottom: 2px solid #ccc;
  }
  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #999;
    /* placeholder字体大小  */
    font-size: 28px;
    /* placeholder位置  */
    text-align: left;
  }
}

.utp-wechat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 224px;
  .utp-wechat-logo {
    width: 360px;
    height: 472px;
    .utp-wechat-logo-img {
      width: 360px;
      height: 472px;
    }
    .utp-wechat-logo-button {
      background:linear-gradient(90deg,rgba(26,172,26,1) 0%,rgba(34,191,34,1) 100%);
      border-radius:200px;
      font-size:32px;
      font-family:$font-family2;
      font-weight:500;
      color:rgba(255,255,255,1);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 500px;
      left: 90px;
      width:570px;
      height:100px;
    }
  }
  .utp-wechat-check {
    font-size:32px;
    font-family:$font-family1;
    font-weight:400;
    color:rgba(37,166,250,1);
  }
}
