@import '../../../styles/theme.scss';
.utp-integral-coupon {
  min-height: 100%;
  background:rgba(245,245,245,1);
  padding-bottom: 108px;
  .utp-integral-coupon-message {
    padding: 8px 20px 0;
    .utp-integral-coupon-message-lable {
      height: 166px;
      background-image: url('../../../assets/card/card-active.png');
      background-size: 100% 164px;
      background-repeat: no-repeat;
      padding: 26px 32px;
      font-family:$font-family1;
      .utp-integral-coupon-message-lable-title {
        height: 44px;
        line-height: 44px;
        font-size: 32px;
        font-weight:500;
        color:rgba(255,47,123,1);
        font-family:$font-family2;
        @include text-ellipsis();
      }
      .utp-integral-coupon-message-lable-time {
        height: 34px;
        line-height: 34px;
        font-size:24px;
        font-weight:400;
        color:rgba(255,90,150,1);
      }
      .utp-integral-coupon-message-lable-rule {
        height: 28px;
        line-height: 28px;
        font-size:20px;
        font-weight:400;
        color:rgba(255,90,150,1);
      }
    }
  }
  .utp-integral-coupon-goods {
    padding: 0 20px;
  }
  .utp-integral-coupon-bottom {
    position: fixed;
    height:100px;
    background:rgba(255,47,123,1);
    width: 100%;
    font-size: 30px;
    font-family: $font-family2;
    font-weight: 500;
    color:rgba(255,255,255,1);
    bottom: 0;
    z-index: 110;
    .utp-integral-coupon-bottom-lable {
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}