@import '../../styles/theme.scss';
$color: $color-active;
@mixin flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.utp-model {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 810;
  // transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  &.active {
    visibility: visible;
    .utp-model__overlay {
      opacity: 1;
    }
    .utp-model__container {
      transform: translate3d(0, 0, 0);
    }
  }
}
.utp-model__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.utp-model__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 400px;
  max-height: 950px;
  background-color: $bgColor-normal;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1),
    -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
}

.utp-model .layout-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: $color-deep;
  font-size: 32px;
  font-weight: 500;
  .close-img {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.utp-model .layout-body {
  position: relative;
}
