@import '../../../styles/theme.scss';

.swiper-wrapper {
  width: 100%;
}
.utp-freeVoucher {
  background-color: $bgColor-dark;

  &-swipeBox {
    background-color: $bgColor-normal;

    .swiper-container {
      height: 100%;
    }
  }
  &-swipe {
    height: 280px;
    // width: 710px;
    margin-top: 20px;
  }

  &-item {
    &-1 {
      background-color: red;
      height: 280px;
    }
    &-2 {
      background-color: pink;
      height: 280px;
    }
    &-3 {
      background-color: blue;
      height: 280px;
    }
  }

  &-iconText {
    height: 192px;
    background-color: $bgColor-normal;
  }

  &-goodsTab {
    height: 100px;
    width: 100%;
    background-color: #fbfbfb;
    z-index: 1;
    overflow: auto;
    display: flex;
    align-items: center;

    &-1,
    &-1-active {
      flex-shrink: 0;
      font-size: 28px;
      color: $color-low;
      position: relative;
      margin-left: 40px;
    }

    &-1-active {
      color: $color-deep;
      font-weight: bold;
    }

    &-1-active::after {
      display: block;
      /*postcss-pxtransform rn eject enable*/
      content: '';
      /*postcss-pxtransform rn eject disable*/
      width: 100px;
      height: 4px;
      background-color: $color-deep;
      border-radius: 4px;
      z-index: 1;
      position: absolute;
      left: 50%;
      bottom: -10px;
      /*postcss-pxtransform rn eject enable*/
      transform: translateX(-50%);
      /*postcss-pxtransform rn eject disable*/
    }
  }

  &-goodsList {
    .utp-goods1 {
      margin-bottom: 10px;
    }

    .utp-goods1-add,
    .utp-goods1-titles-tag {
      display: none;
    }

    .utp-goods1-title {
      text-indent: 0;
    }

    &-Box {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-quanBox {
      position: absolute;
      z-index: 1;
      top: 40px;
    }

    &-BoxImg {
      width: 42px;
      height: 32px;
    }

    &-BoxText {
      width: 42px;
      text-align: center;
      position: absolute;
      font-size: 24px;
      top: 0;
      color: #fff;
    }
  }
}
