@import '../../styles/theme.scss';
.flex-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    .flex-item {
        width: 20%;
        text-align: center;
    }
}