@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

.flow-box {
    width: 700px;
    column-count: 2;
}

.scroll-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.scrollEle {
    position: fixed;
    width: 100vw;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    background: #555;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

$BLUE_T_COLOR:#25A6FA;
.sameCity {
    font-size: 28px;
    background: #f5f5f5;
    &-head {
        height: 274px;
        width: 100%;
        padding: 80px 0 30px 0;
        background: linear-gradient(327deg, rgba(76, 157, 255, 1) 0%, rgba(11, 93, 220, 1) 100%);
        &-search {
            height: 70px;
            width: 100%;
            //  background: #eee;
        }
        .scroll-tab {
            overflow-x: auto;
            display: flex;
            margin: 0 auto;
            .active {
                color: #fff;
                font-size: 32px;
                border-bottom: 3px solid #fff;
            }
            flex-flow: row;
            &-item {
                margin: 0 30px;
                flex: inline-flex;
                color: #fff;
                font-size: 28px;
                margin-right: 40px;
                &-text {
                    line-height: 40px;
                    white-space: nowrap;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

.sameCity-item {
    padding: 20px;
    width: 710px;
    margin: 0 auto;
    height: 296px;
    background: #fff;
    border-radius: 10px;
    font-size: 30px;
    &-img {
        width: 256px;
        height: 256px;
        border-radius: 12px;
        background: #ddd;
        overflow: hidden;
    }
    &-info {
        position: relative;
        margin-left: 20px;
        width: 390px;
        &-title {
            // padding: 10px;
        }
        &-name {
            color: #333333;
            width: 390px;
            height: 90px;
            margin-bottom: 40px;
            overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // word-wrap: break-word;
        }
        &-tag {
            min-width: 52px;
            font-size: 22px;
            min-height: 28px;
            border-radius: 4px;
            padding: 0px 4px;
            color: #fff;
            // word-wrap: break-word;
            margin-right: 10px;
            background: linear-gradient(to right, #FF2F3D, #FF10B0)
        }
        &-delivery {
            font-size: 22px;
            height: 32px;
            border: 2px solid $BLUE_T_COLOR;
            color: #25A6FA;
            padding: 0 2px 0 0px;
            border-radius: 4px;
            line-height: 32px;
            display: inline-block;
            overflow: hidden;
            margin-bottom: 0;
            .delivery-tag {
                width: 32px;
                background: $BLUE_T_COLOR;
                height: 32px;
                text-align: center;
            }
            .delivery-text {
                display: 'inline-block';
                line-height: 30px;
                padding: 0 5px,
            }
        }
        &-price {
            height: 40px;
            line-height: 40px;
            .now-price {
                font-size: 40px;
                color: #FF2F7B;
            }
        }
        &-store {
            color: #999;
            font-size: 24px;
        }
    }
}