@import '../../../styles/theme.scss';

.utp-unsubscribe {
  background-color: $bgColor-dark;
  padding: 20px;

  &-title {
    font-size: 28px;
    color: #ff2f7b;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
  }

  &-contentBox {
    width: 100%;
    background-color: $bgColor-normal;
    padding: 30px;
    border-radius: 8px;
  }

  &-content {
    font-size: 28px;
    color: $color-normal;
  }

  &-tips {
    font-size: 28px;
    color: $color-normal;
    line-height: 94px;
  }

  &-remind {
    font-size: 24px;
    color: #25a6fa;
    line-height: 94px;
    text-decoration: underline;
  }

  &-btn {
    width: 200px;
    height: 50px;
    background-color: #ff2f7b;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
  }

  &-active {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 1;
    animation: color 2s forwards;
  }

  &-btnMiddle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    animation: distant 2s forwards;
    border: 2px solid #ddd;
  }

  @keyframes distant {
    from {
      left: 0;
    }
    to {
      left: 150px;
    }
  }
  @keyframes color {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150px);
    }
  }
}
