.cloumn-box {
    width: 750px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.pullDownBlock .tip,
.loading {
    color: #999;
    font-size: 30px;
}

.goods-item {
    width: 348px;
    height: 536px;
    // height: 1300px;
    font-size: 28px;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    &-img {
        width: 324px;
        border-radius: 12px;
        overflow: hidden;
        height: 324px;
        background: #aaa;
        position: relative;
        .img {
            width: 100%;
            height: 100%;
        }
    }
    &-content {
        padding: 15px;
        .name {
            width: 304px;
            height: 72px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 36px;
        }
        .tag {
            padding: 0 5px;
            font-size: 22px;
            display: inline-block;
            border-radius: 4px;
            color: #FF2F3D;
            border: 2px solid rgba(255, 47, 61, 1);
        }
        .bottom {
            margin-top: 15px;
            .add-btn {}
            .price {
                color: #FF2F7B;
                .price-tag {
                    width: 14px;
                    height: 30px;
                    font-size: 22px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                }
                .price-num {
                    width: 82px;
                    height: 42px;
                    margin-left: 7px;
                    font-size: 34px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: rgba(255, 47, 123, 1);
                    line-height: 42px;
                }
            }
        }
    }
}