@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

$mColor:#FF2F7B;
.history {
    background: #f5f5f5;
    padding-bottom: 100px;
    &-item {
        font-size: 28px;
        margin-top: 20px;
        border-radius: 10px;
        background: #fff;
        width: 710px;
        padding: 40px 20px 30px 30px;
        &-icon {
            margin-right: 10px;
            &-spot {
                width: 24px;
                height: 24px;
                border-radius: 50px;
                color: red;
            }
        }
        &-title {
            font-size: 30px;
        }
        &-time {
            margin-top: 20px;
            color: #999;
        }
        &-context {
            font-size: 24px;
        }
        &-logis {
            display: inline-block;
            margin: 5px;
            font-size: 24px;
            padding: 2px 10px;
            color: $mColor;
            border: 1px solid $mColor;
            // border-radius: 1px;
        }
        &-info {
            margin-top: 10px;
        }
    }
}