.u-swiper {
  border-radius: 20px;
  min-height: 280px;
  margin-top: 108px;
  margin-bottom: 20px;
  &-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    .banner {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .swiper-pagination-bullets {
    bottom: 10px !important;
    .swiper-pagination-bullet {
      height: 7px;
      width: 17px;
      background: #fff !important;
      border-radius: 4px;
      margin: 0 4px !important;
    }
    .swiper-pagination-bullet-active {
      width: 27px;
    }
  }
}
