@import '../../styles/theme.scss';
/*sch*/

.utp-schBox {
  background-color: transparent;
}

.utp-sch-box {
  height: 88px;
}
.utp-sch {
  height: 88px;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 18px;
}
.utp-schs {
  position: relative;
  height: 88px;
  background: transparent;
  flex: 1;
}

.utp-schs-distant {
  font-size: 32px;
  text-align: left;
  position: relative;
  height: 88px;
  line-height: 88px;
  flex: 1;
  flex-wrap: nowrap;
  margin-left: 20px;
  color: #fff;

  &-text {
    @include lamp-clamp(1);
  }
}

.utp-sch1 {
  border-width: 0;
  height: 64px;
  width: 100%;
  border-radius: 64px;
  //border-style: solid;
  margin-right: 3px;
  position: relative;
  background-color: #f5f5f5;
}
.utp-sch1-icos {
  width: 70px;
  height: 100%;
}
.utp-sch1-btn {
  width: 122px;
  height: 64px;
  background-color: $color-active;
  position: absolute;
  border-radius: 64px;
  top: -3px;
  right: 0;
  z-index: 1;
}
.utp-sch1-txt {
  color: #fff;
  font-size: 26px;
}
.utp-sch1-ico {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.utp-sch-ads {
  height: 100%;
  width: 162px;
  background: transparent;
}
.utp-sch-i {
  width: 124px;
  height: 48px;
}
.utp-sch-msg {
  height: 100%;
  width: 80px;
  background: transparent;
}

.utp-sch-scan {
  height: 100%;
  width: 70px;
  margin-left: 20px;
  background: transparent;
}

.utp-sch-longSch {
  &-1 {
    z-index: 1;
    background-color: #fff;
  }
  background-color: transparent;
  width: 375px;
  position: absolute;
  height: 88px;

  &-sch1 {
    background-color: rgba(250, 250, 250, 0.4);
    height: 68px;
    max-width: calc(100% - 40px);
    border-radius: 64px;
    margin-right: 3px;
    position: absolute;
    width: 100%;
    // transform: translate3D(-76px, -80px, 0);
    // transition: transform 3000ms cubic-bezier(0.36, 0.66, 1, 1);
  }

  .utp-solid {
    border-width: 0;
    background-color: #f5f5f5;
  }

  .utp-sch2 {
    padding-left: 20px;
  }
}
