@import '../../styles/theme.scss';
.utp-safe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.utp-safe-rn {
}
.utp-safe-weapp {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 750px;
  background: $bgColor-normal;
}
