@import '../../../styles/theme.scss';
.utp-location {
  background-color: #f5f5f5;
  min-height: 100vh;
  &-hd {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    top: 0;
  }
  &-sch {
    height: 104px;
    background-color: #fbfbfb;
    padding-left: 22px;
    padding-right: 22px;
    &-ipts {
      flex: 1;
      height: 64px;
      background-color: #f1f1f1;
      border-radius: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &-ipt {
      font-size: 24px;
    }
    &-icos {
      width: 44px;
    }
  }
  &-bd {
    margin-top: 104px;
  }
  &-item {
    padding-top: 26px;
    padding-bottom: 22px;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 30px;
    &-txts {
      height: 50px;
    }
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
  }
}
