.utp-integral-rule-open-view {
  height:380px;
  .utp-integral-rule-open-view-img {
    width: 100%;
    height:auto;
    img {
      width: 100%;
      height: 100%;
      border-radius:20px;
      margin: 0;
    }
  }
}
