@import '../../styles/theme.scss';
.utp-integral-card {
  width:348px;
  height:546px;
  background:$bgColor-normal;
  border-radius:20px;
  margin-top: 14px;
  padding: 12px;
  .utp-integral-card-img {
    width:324px;
    height:324px;
    background:rgba(248,247,248,1);
    border-radius:12px;
  }
  .utp-integral-card-name {
    width: 324px;
    height: 72px;
    font-size: 28px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:$color-deep;
    line-height:37px;
    // margin-top: 20px;
    padding: 0 12px;
    @include lamp-clamp(2);
  }
  .utp-integral-card-pointAndPrice {
    font-size:28px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(255,47,123,1);
    margin-top: 20px;
    padding: 0 12px;
  }
  .utp-integral-card-lable {
    width:78px;
    height:32px;
    // display: inline;
    border-radius:4px;
    border:1px solid rgba(255,47,61,1);
    font-size:22px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(255,47,61,1);
    // padding: 2px 3px;
    // line-height:32px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 12px;
  }
  .utp-integral-card-price {
    font-size:24px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    padding: 0 12px;
  }
  .utp-integral-card-point {
    font-size:28px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(255,47,123,1);
    margin-top:14px;
    padding: 0 12px;
  }
}
