@import '../../styles/theme.scss';
.utp-integral-couponCard {
  width:710px;
  height:296px;
  background:rgba(255,255,255,1);
  border-radius:20px;
  padding: 20px;
  display: flex;
  margin-top: 8px;
  position: relative;
  .utp-integral-couponCard-sellOut {
    position: absolute;
    width:120px;
    height:120px;
    z-index: 100;
    top:90px;
    left: 90px;
  }
  .utp-integral-couponCard-img {
    width:256px;
    height:256px;
    border-radius:12px;
    border:1px solid rgba(244,244,244,1);
  }
  .utp-integral-couponCard-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
    position: relative;
    .utp-integral-couponCard-right-name {
      width:394px;
      height:80px;
      font-weight:400;
      color:$color-deep;
      line-height:40px;
      display: flex;
      .utp-integral-couponCard-right-name-message {
        @include lamp-clamp(2);
        font-size:30px;
        font-family: $font-family1;
      }
      .utp-integral-couponCard-right-name-lable {
        background:linear-gradient(90deg,rgba(255,47,61,1) 0%,rgba(255,16,176,1) 100%);
        border-radius:4px;
        font-size:22px;
        font-weight:400;
        color:rgba(255,255,255,1);
        display: flex;
        width:52px;
        height:28px;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5px;
      }
    }
    .utp-integral-couponCard-right-bottom {
      .utp-integral-couponCard-right-bottom-price {
        display: flex;
        padding-bottom: 6px;
        .utp-integral-couponCard-right-bottom-price-num {
          display: flex;
          align-items: flex-end;
          height:38px;
          font-size:40px;
          font-family:$font-family2;
          font-weight:500;
          color:rgba(255,47,123,1);
          line-height:38px;
          .utp-integral-couponCard-right-price-num-icon {
            width:18px;
            height:38px;
            font-size:28px;
            font-weight:500;
            color:rgba(255,47,123,1);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 4px;
            position: relative;
            top: 1px;
          }
        }
        .utp-integral-couponCard-right-bottom-price-originalNum {
          height:38px;
          font-size:24px;
          font-family:$font-family1;
          font-weight:400;
          color:rgba(102,102,102,1);
          margin-left: 10px;
          text-decoration: line-through;
        }
        .utp-integral-couponCard-right-bottom-price-activeLabel {
          width:78px;
          height:32px;
          border-radius:4px;
          border:1px solid rgba(255,47,61,1);
          font-size:22px;
          font-family:$font-family1;
          font-weight:400;
          color:rgba(255,47,61,1);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
        }
      }
      .utp-integral-couponCard-right-bottom-store {
        display: flex;
        height:30px;
        font-size:24px;
        font-family:$font-family1;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:30px;
        .utp-integral-couponCard-right-bottom-store-name {
          width:258px;
          @include lamp-clamp(1);
        }
        .utp-integral-couponCard-right-bottom-store-open {
          display: flex;
          align-items: center;
          .utp-integral-couponCard-right-bottom-store-open-img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    .utp-integral-couponCard-right-cartIcon {
      position: absolute;
      right: 20px;
      bottom: 38px;
      width: 44px;
      height: 44px;
      .utp-integral-couponCard-right-cartIcon-img {
        width: 44px;
        height: 44px;
      }
    }
  }
}