@import '../../styles/theme.scss';
.utp-integral-details-card {
  height:142px;
  background:rgba(255,255,255,1);
  border-bottom: 1px solid rgba(236,236,236,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  &-left {
    &-top {
      display: flex;
      &-name {
        font-size:28px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(51,51,51,1);
      }
      &-label {
        width:108px;
        height:40px;
        margin-left: 10px;
        font-size:24px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,47,123,1);
        background:rgba(255,245,249,1);
        border-radius:22px;
        border:1px solid rgba(255,47,123,1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-bottom {
      font-size:28px;
      font-family:$font-family1;
      font-weight:400;
      color:rgba(153,153,153,1);
    }
  }
  &-right {
    flex: 1;
    text-align: right;
    font-size:32px;
    font-family:$font-family2;
    font-weight:500;
    color:rgba(51,51,51,1);
  }
}