@import '../../../styles/theme.scss';
.utp-location {
  background-color: #f5f5f5;
  min-height: 100vh;
  &-hd {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    top: 0;
  }
  &-sch {
    height: 104px;
    background-color: #fbfbfb;
    padding-left: 22px;
    padding-right: 22px;
    &-ipts {
      flex: 1;
      height: 64px;
      background-color: #f1f1f1;
      border-radius: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &-ipt {
      font-size: 24px;
    }
    &-icos {
      width: 44px;
    }
  }
  &-bd {
    margin-top: 104px;
    min-height: 100vh;
    background-color: #f5f5f5;
    &-tips {
      width: 750px;
      height: 68px;
      padding-left: 20px;
      padding-right: 20px;
      background: rgba(255, 245, 249, 1);
    }
    &-box {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-1 {
        padding-top: 20px;
        padding-bottom: 0px;
      }
      &-2 {
        padding-left: 20px;
        padding-top: 10px;
        background-color: #fff;
      }
    }
    &-ads {
      border-bottom: 2px solid #f5f5f5;
      padding-bottom: 6px;
      background-color: #fff;
    }
    &-tits {
      background-color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      &-1 {
        margin-top: -20px;
      }
      &-2 {
        padding-left: 0;
      }
    }
    &-txt {
      color: #50afdd;
      font-size: 24px;
    }
  }
  &-item {
    padding-top: 26px;
    padding-bottom: 22px;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 30px;
    &-txts {
      height: 50px;
    }
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
  }
}
