@import '../../styles/theme.scss';
.utp-goods2s {
  box-sizing: border-box;
  width: 348px;
  background-color: $bgColor-normal;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 24px;
  // margin-bottom: 14px;
}
.utp-goods2 {
  position: relative;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
.utp-goods2-i {
  width: 324px;
  height: 324px;
  border-radius: 12px;
  margin-bottom: 12px;
  //border-style: solid;
}
.utp-goods2-img {
  width: 100%;
  height: 100%;
}
.utp-goods2-item {
  padding-left: 10px;
  padding-right: 10px;
}
.utp-goods2-titles {
  height: 70px;
  position: relative;
  margin-bottom: 10px;
  &-tag {
    position: absolute;
    left: 0;
    top: 4px;
  }
}
.utp-goods2-titleindex{
  text-indent: 64px;
}
.utp-goods2-title {
  color: $color-deep;
  font-size: 26px;
  line-height: 34px;
  /*postcss-pxtransform rn eject enable*/
  // text-indent: 64px;
  /*postcss-pxtransform rn eject disable*/
  @include lamp-clamp(2);
  /*  #ifdef h5  */
  /*  #endif  */
}

.utp-goods2-ft {
  margin-top: 10px;
  height: 40px;
}
.utp-goods2-moneys {
  margin-right: 10px;
  font-size: 24px;
  color: $color-active;
  line-height: 40px;
  font-size: 34px;
}
.utp-goods2-money {
  &-1 {
    color: $color-low;
    font-size: 24px;
    /*postcss-pxtransform rn eject enable*/
    text-decoration: line-through;
    /*postcss-pxtransform rn eject disable*/
  }
}
.utp-goods2-add {
  width: 44px;
  height: 44px;
  background-color: #fff5f9;
}
.utp-goods2-add-ico {
  width: 40px;
  height: 40px;
}
