@import '../../styles/theme.scss';
.utp-goods {
  position: relative;
  height: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  // background: pink;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
.utp-goods-check {
  width: 76px;
  height: 100%;
}
.utp-goods-check-img {
  width: 38px;
  height: 38px;
}
.utp-goods-i {
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-color: #f3f3f3;
  border-style: solid;
  border-radius: 4px;
  position: relative;
}
.utp-goods-ii {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.utp-goods-img {
  width: 100%;
  height: 100%;
}
.utp-goods-item {
  flex: 1;
  position: relative;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
.utp-goods-tip {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.utp-goods-titles {
  width: 100%;
  max-height: 90px;
  @include lamp-clamp(2);
}
.utp-goods-title {
  color: #3c3c3c;
  font-size: 26px;
  line-height: 40px;

  /*  #ifdef h5  */
  /*  #endif  */
}
.utp-goods-utitle {
  color: #999;
}
.utp-goods-moneys {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.utp-goods-money {
  color: $color-active;
  line-height: 42px;
  font-size: 30px;
}
.utp-goods-ormoney {
  text-decoration: line-through;
  margin-left: 10px;
  color: $color-low;
  line-height: 34px;
  font-size: 24px;
}
.utp-goods-add {
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 0;
  right: 0;
  background-color: #fff5f9;
}
.utp-goods-add-ico {
  width: 18px;
  height: 18px;
}
.utp-goods-dec-ico {
  width: 18px;
  height: 18px;
}
.utp-goods-dec {
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 0;
  right: 122px;
  background-color: $bgColor-normal;
  border-width: 2px;
  //border-style: solid;
  border-color: #f7f7f7;
  border-radius: 2px;
}

.utp-goods-nums {
  position: absolute;
  width: 78px;
  height: 44px;
  bottom: 0;
  right: 44px;
}

.utp-goods-num {
  color: $color-deep;
  font-size: 30px;
  line-height: 44px;
}
.utp-goods-more-t {
  color: $color-normal;
  font-size: 26px;
}
.utp-goods-more {
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 22px;
  padding-right: 10px;
  position: absolute;
  bottom: 60px;
  left: 0;
  &-img {
    width: 20px;
    height: 20px;
    margin-left: 18px;
  }
}
