@import '../../styles/theme.scss';
.utp-btn {
  height: 80px;
  border-radius: 80px;
  background-color: $color-active;
  border-width: 2px;
  border-color: $color-active;
  display: flex;
  justify-content: center;
  align-items: center;
  &-mini {
    height: 64px;
    border-radius: 64px;
    border-width: 1px;
  }
  &-txt {
    color: #fff;
    font-size: 28px;
    &-mini {
      font-size: 24px;
    }
  }
  &-1 {
    background-color: $bgColor-normal;
  }
  &-txt-1 {
    color: $color-active;
  }
  &-2 {
    background-color: $bgColor-normal;
    border-color: #252525;
  }
  &-txt-2 {
    color: $color-normal;
  }
  &-3 {
    background-color: #252525;
    border-color: #252525;
  }
  &-none {
    background-color: #ddd;
    border-color: #ddd;
  }
  &-7 {
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fc3344, #fd25e5);
    /*postcss-pxtransform rn eject disable*/
  }
}
