@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

.number-box {
    // width: 200px;
    position: relative;
    .number-input {
        width: 170px;
        .reduce {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            text-align: center;
            font-size: 24px;
            color: rgba(153, 153, 153, 1);
            border: 2px solid rgba(238, 238, 238, 1);
        }
        .input {
            width: 82px;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            background: #fff;
        }
        .add {
            width: 44px;
            height: 44px;
            text-align: center;
            border: 2px solid rgba(238, 238, 238, 1);
            background: rgba(255, 245, 249, 1);
            color: rgba(255, 47, 123, 1);
            border-radius: 4px;
        }
    }
}

$paddingBox:10px 30px;
.upload-item {
    width: 210px;
    height: 210px;
    text-align: center;
    border: 1px dotted #ddd;
}

.apply-refund {
    background: #f5f5f5;
    font-size: 28px;
    &-shop {
        padding: $paddingBox;
        &-text {}
        &-words {
            font-size: 24px;
            color: #999999;
        }
        &-reason {
            height: 60px;
            margin-top: 20px;
        }
    }
    &-desc {
        margin: 10px 0;
        height: 280px;
        padding: $paddingBox;
        &-area {
            font-size: 30px;
            margin-top: 10px;
            background: transparent;
            border-style: none;
            color: #999999;
        }
    }
    &-upload {
        padding: $paddingBox;
        padding-bottom: 50px;
        &-limit {
            font-size: 24px;
            color: #999;
        }
    }
    &-commit {
        height: 200px;
        width: 100%;
        // margin: 70px 0 0 0;
        padding: 70px 0;
        &-btn {
            margin: 0 auto;
            text-align: center;
            color: #fff;
            width: 590px;
            height: 72px;
            background: #FF2F7D;
            line-height: 72px;
            border-radius: 50px;
        }
    }
}