@import '../../../styles/theme.scss';
.utp-storeinfo {
  width: 100%;
  height: 100vh;
  background: #fff;
  &-top {
    min-height: 180px;
    padding: 0 30px;
    &-logo {
      border: 1px solid #f6f6f6;
      margin-right: 24px;
      width: 124px;
    }
  }
  &-gray{
      width: 100%;
      height: 10px;
      background: #f5f5f5;
  }
  &-bottom {
    padding: 0 30px;
    &-blue{
      color:#25A6FA;
      font-size: 24px;
    }
      &-item{
          padding: 40px 0;
          border-bottom: 2px solid #F3F3F3;
      }
      &-server{
          margin-top:20px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
      }
      &-labels{
         margin-left: 30px; 
      }
      &-address{
        width:476px;
        line-height: 36px;
        font-size:26px;
        color:rgba(0,0,0,1);
      }
      &-crevice{
          height: 20px;
      }
  }
}
