.uSwiper {
    height: 420px !important;
    padding-right: 290px !important;
    margin: 0 20px;
    &-item {
        height: 420px !important;
        &-image {
            width: 420px;
            height: 420px;
            background: rgba(216, 216, 216, 1);
            border-radius: 20px;
            transform: scale(0.9);
            transition: all 0.5s ease;
        }
        &-active {
            transform: scale(1) !important;
        }
    }
}

.uSwiper-dots {
    text-align: center;
    line-height: 0;
    margin: 20px 0;
    &-item {
        display: inline-block;
        margin-right: 10px;
        width: 8px;
        height: 8px;
        background: rgba(207, 207, 207, 1);
        border-radius: 7px;
    }
    &-item:last-child {
        margin-right: 0;
    }
    &-active {
        width: 28px !important;
        background: rgba(81, 180, 76, 1) !important;
    }
}