@import '../../styles/theme.scss';
.utp-msg-center {
  padding-top: 25px;
  padding-bottom: 23px;
  padding-right: 25px;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $bgColor-normal;
  position: relative;
  &-read {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: absolute;
    top: 25px;
    left: 92px;
    background-color: $color-active;
  }
  &-top {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-imgs {
    width: 100px;
    height: 100px;
    margin-right: 21px;
    border-radius: 100px;
    overflow: hidden;
  }
  &-info {
    flex: 1;
    padding-top: 2px;
    &-item {
      height: 43px;
      &-icos {
        margin-left: 28px;
        margin-right: 10px;
      }
    }
  }
  &-hid {
    max-width: 222px;
  }
}
