@import '../../../styles/theme.scss';
.utp-pint {
  height: 100%;
  width: 100%;
  background: rgba(245, 245, 245, 1);
  &-box {
    padding: 20px;
    padding-bottom: 40px;
    background: $bgColor-normal;
  }
  &-pro {
    background: rgba(251, 251, 251, 1);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  &-tip {
    margin-top: 42px;
    margin-bottom: 18px;
    display: flex;
    font-size: 32px;
    justify-content: center;
  }
  &-timer {
    height: 80px;
    margin-bottom: 44px;
  }
  &-more {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &-show {
    padding-top: 40px;
    padding-bottom: 96px;
  }
  &-info {
    margin-top: 40px;
  }
}
