@import '../../../styles/theme.scss';
.utp-page-addAddress {
  background-color: #ffffff;
  min-height: 100vh;
  &-gang {
    height: 20px;
    border-width: 0;
    background-color: #f5f5f5;
  }
  &-item {
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 22px;
    &-th {
      width: 145px;
      height: 68px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-1 {
        width: 245px;
      }
    }
    &-big {
      flex: 1;
    }
    &-ipt {
      font-size: 26px;
    }
    &-info {
      height: 130px;
      margin-top: 15px;
    }
    &-tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &-tag {
      min-width: 108px;
      height: 44px;
      background-color: #f2f2f2;
      border-radius: 3px;
      padding-left: 12px;
      padding-right: 12px;
      margin-right: 30px;
      margin-bottom: 15px;
      margin-top: 15px;
      &-0 {
        background-color: #ff317c;
      }
      &-e1 {
        margin-right: 5px;
      }
      &-e {
        padding-left: 6px;
        padding-right: 6px;
        min-width: 88px;
      }
      &-1 {
        width: 364px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 3px;
        &-txt {
          font-size: 24px;
        }
      }
      &-2 {
        width: 88px;
        min-width: 88px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #eaeaea;
        &-1 {
          background-color: #30a8f7;
        }
      }
    }
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
  }
}
