@import '../../../styles/theme.scss';
.utp-msg {
  &-msg {
    height: 68px;
    background-color: #fff5f9;
    padding-left: 24px;
  }
  &-icos {
    background-color: $bgColor-normal;
    margin-bottom: 20px;
  }
  &-close {
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.taro_page {
  background-color: #f5f5f5;
}
.taro-img {
  /*postcss-pxtransform rn eject enable*/
  display: block;
  /*postcss-pxtransform rn eject disable*/
}
