@import '../../../styles/theme.scss';
.utp-scan {
  &-hd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #ffffff;
  }
  background: #f5f5f5;
  margin-bottom: 100px;
  &-yuan {
    font-size: 34px;
    color: $color-active;
  }
  &-box {
    width: 100%;
    background: $bgColor-normal;
    margin-top: 20px;
    padding: 0 20px;
  }
  &-imgs {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // margin-right:20px;
  }
  &-title {
    margin-right: 20px;
  }
  &-btn {
    width: 186px;
    margin-left: 20px;
  }
  &-btn2 {
    color: #fff;
  }
  &-getDiscount {
    width: 80px;
    height: 38px;
    background: rgba(255, 237, 244, 1);
    border-radius: 19px;
    margin-left: 34px;
  }
  &-tip {
    position: absolute;
    bottom: 400px;
    right: 0;
    width: 220px;
    height: 84px;
    background: #000;
    border-radius: 200px 0px 0px 200px;
    opacity: 0.7;
    padding: 0 21px;
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    background-color: #ffffff;
  }
}
