@import '../../../styles/theme.scss';
.utp-sendMsg {
  &-body {
    margin-bottom: 170px;
  }
  &-ipts {
    background-color: #f6f6f6;
    margin: 24px;
    height: 318px;
    padding: 10px;
    border-radius: 6px;
    &-ipt {
      font-size: 28px;
      color: $color-deep;
      height: 100%;
      width: 100%;
      resize: none;
      border: none;
      outline: none;
      background: transparent;
      border-color: transparent;
    }
  }
  &-tips {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
  &-box {
    margin-left: 8px;
    margin-right: 8px;
  }
  &-imgs {
    overflow: hidden;
  }
  &-imgs1 {
    width: 204px;
    height: 204px;
    border: 1px solid #eeeeee;
    border-radius: 6px;
    position: relative;
    margin-left: 32px;
    margin-bottom: 32px;
    &-img {
      width: 100%;
      height: 100%;
    }
    &-del {
      width: 38px;
      height: 38px;
      top: -10px;
      right: -10px;
      background-color: #ffffff;
      border-radius: 38px;
      position: absolute;
      z-index: 1;
    }
  }
  &-imgs1-1 {
    border-width: 0;
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    background-color: #ffffff;
  }
}
.taro-img {
  /*postcss-pxtransform rn eject enable*/
  display: block;
  /*postcss-pxtransform rn eject disable*/
}
