@import '../../styles/theme.scss';
.utp-bar {
  width: 750px;
  height: 90px;
  padding-right: 34px;
  position: relative;
  z-index: 1;
}
.utp-bar-back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 84px;
}
.utp-bar-ico {
  width: 48px;
  height: 48px;
}
.utp-bar-tits {
  flex: 1;
}
.utp-bar-title {
  font-size: 30px;
  color: $color-deep;
  font-weight: bold;
}
.utp-bar-tips {
  font-size: 26px;
  color: $color-normal;
}
