@import '../../styles/theme.scss';
.utp-test {
  color: $color-active;
}

.utp-set {
  // background-color: transparent;
  height: 230px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 68px;
  &-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
  }
  &-1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background-color: #fafafa;
    background-color: transparent;
  }
  /*  #ifdef h5  */
  box-sizing: border-box;

  /*  #endif  */
}

.utp-set-ico {
  height: 100%;
  width: 80px;
}
.utp-ico-set {
  width: 48px;
  height: 48px;
}
.utp-ico-set1 {
  width: 40px;
  height: 40px;
}

.utp-ico1 {
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
  width: 750 * 2px;
  &-box {
    width: 164px;
  }
}

.utp-home-pageBtn {
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  background-color: pink;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
