@import '../../../styles/theme.scss';
.uto-liberCate {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  &-sch {
    position: absolute;
    top: 0px;
    left: 30px;
    right: 30px;
    height: 140px;
    &-box {
      width: 690px;
      height: 80px;
      border: 1px solid #dddddd;
    }
  }
  &-lefts {
    width: 100%;
    height: 100%;
  }
  &-left {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 160px;
    bottom: 0;
    background-color: #f7f7f7;
    &-cates {
      height: 100px;
    }
    &-cate {
      height: 40px;
      width: 160px;
      border-left: 6px solid #f7f7f7;
      &-crt {
        border-color: #000000;
      }
    }
  }
  &-rights {
    width: 100%;
    height: 100%;
  }
  &-right {
    position: absolute;
    top: 140px;
    right: 0px;
    left: 214px;
    bottom: 0;
    &-sub {
      width: 162px;
      height: 162px;
      border: 1px solid #eeeeee;
      overflow: hidden;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
