@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

$textColor:#FF2F7B;
.refund-box {
    .refund-type {
        font-size: 28px;
        margin-top: 20px;
        .item {
            position: relative;
            width: 100%;
            //line-height: 70px;
            height: 140px;
            background: #fff;
            .icon {
                width: 100px;
                height: 100px;
                padding: 35px 0 0 40px;
                margin-right: 30px;
                text-align: center;
            }
            &-center {
                width: 460px;
                .title {
                    margin-top: 35px;
                    color: #333333;
                }
                .text {
                    font-size: 24px;
                    color: #999999;
                }
            }
            &-right {
                position: absolute;
                right: 20px;
                top: 50px;
            }
        }
    }
    .good-item {
        padding-top: 10px;
        width: 100%;
        height: 220px;
        // display: flex;
        background-color: #fff;
        .items {
            &-img {
                margin: 0 0px 10px 15px;
                width: 180px;
                color: #666;
                overflow: hidden;
                border-radius: 10px 10px 10px 10px;
            }
            &-content {
                margin: 0 20px 0 20px;
                .goods {
                    font-size: 26px;
                    &-name {
                        height: 72px;
                        //  line-height: 30px;
                        width: 500px;
                        color: #333333;
                        font-size: 26px;
                        overflow: hidden;
                    }
                    &-spec {
                        display: inline-block;
                        margin-bottom: 10px;
                        text-align: center;
                        border-radius: 20px;
                        padding: 2px 15px;
                        color: #666;
                        background: #F6F6F6;
                        font-size: 24px;
                    }
                    &-by {
                        font-size: 28px;
                        // margin-top: 20px;
                        color: #999;
                    }
                    &-price {
                        .p-num {
                            color: $textColor;
                        }
                    }
                    &-num {
                        margin-left: 40px;
                        .n-num {
                            color: $textColor;
                        }
                    }
                }
                .goods-by {}
            }
        }
    }
}