.utp-integral {
  min-height: 100%;
  background:rgba(245,245,245,1);
  .utp-integral-list {
    padding: 0 20px 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .utp-integral-nomore {
    font-size: 26px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}
