.swiper-box {
    .swiper-dots {
        vertical-align: bottom;
        position: absolute;
        border-radius: 20px;
        // bottom: 20px;
        // text-align: center;
        // display: flex;
        bottom: 10px;
        height: 40px;
        z-index: 55;
        width: 100%;
        font-size: 20px;
        text-align: center;
        .dots-item {
            width: 10px;
            height: 10px;
            margin-left: 10px;
            position: relative;
            border-radius: 20px;
            height: 5px;
            // background: red;
            background: #eee;
            display: inline-block;
        }
    }
    .swiper-pagination-bullets {
        bottom: 10px !important;
        .swiper-pagination-bullet {
            height: 7px;
            width: 17px;
            background: #fff !important;
            border-radius: 4px;
            margin: 0 4px !important;
        }
        .swiper-pagination-bullet-active {
            width: 27px;
        }
    }
}