@import '../../styles/theme.scss';
.utp-cart-page{
    &-item{
        background: #fff;
        padding-right:20px;
        border-radius: 12px;
        margin:20px;
        margin-bottom: 0;
    }
    &-smallCount{
        font-size: 30px;
        color: $color-active;
    }
    &-couponsBox{
        margin: 0 20px;
        height: 800px;
        overflow-y: scroll;
    }
}