.integralGoods {
  display: inline-block;
  padding: 12px 12px 30px 12px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 12px;
  width: 348px;
  height: 546px;
  vertical-align: top;
  position: relative;
  &-logo {
    width: 324px;
    height: 324px;
    background: rgba(248, 247, 248, 1);
    border-radius: 12px;
  }
  &-title {
    font-size: 28px;
    color: #333;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &-tag {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid rgba(255, 47, 61, 1);
    font-size: 22px;
    color: #ff2f3d;
    line-height: 24px;
    padding: 6px;
    position: absolute;
    bottom: 70px;
  }
  &-discount {
    color: #ff2f7b;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    .discount-details {
      display: inline-block;
    }
  }
  &-price {
    color: #666;
    font-size: 24px;
    line-height: 24px;
    margin-top: 4px;
  }
}
.integralGoods:nth-of-type(even) {
  float: right;
}
.integralGoods:nth-of-type(odd) {
  float: left;
}

