@import '../../../styles/theme.scss';

.utp-freePlayHome {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fcf9fc;
  //   background-color: pink;

  &-part1 {
    height: 382px;
    width: 100%;
    background-color: $bgColor-normal;
  }

  &-titlesBox {
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 382px;
    // border-bottom: 1px solid #f5f5f5;
    padding-top: 12px;
  }

  &-titles {
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    @include lamp-clamp(1);
  }

  &-renqi {
    font-size: 24px;
    color: $color-normal;
  }

  &-ImgBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  &-Img {
    width: 208px;
    height: 132px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &-address {
    width: 100%;
    margin-bottom: 20px;
  }

  &-addressContent {
    flex: 1;
    margin-left: 30px;
    margin-right: 40px;
    padding-right: 20px;
    font-size: 26px;
    color: $color-normal;
    border-right: 2px solid #ececec;
  }

  &-part2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $bgColor-normal;
    padding-bottom: 30px;

    &-title {
      font-size: 32px;
      color: $color-deep;
      font-weight: bold;
      margin-bottom: 28px;
    }
  }

  &-part3 {
    background-color: $bgColor-normal;
    padding-bottom: 30px;

    &-title {
      font-size: 32px;
      color: $color-deep;
      font-weight: bold;
      margin-bottom: 28px;
    }

    .utp-goods1 {
      margin-bottom: 10px;
    }

    .utp-goods1-add,
    .utp-goods1-titles-tag,
    .utp-goods1-stores {
      display: none;
    }

    .utp-goods1-title {
      text-indent: 0;
    }
  }
}
