.crossings {
    .flow-box {
        column-count: 2; //多列的列数
        column-gap: 0; //列间距
        .item {
            break-inside: avoid;
        }
    }
    padding: 20px 0;
    padding-top: 198px;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 1);
    &-top {
        width: 100%;
        height: 220px;
        border-radius: 20px;
    }
    &-first {
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0 20px;
        &-item {
            vertical-align: top;
            width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
            height: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
        &-item:nth-child(3n) {
            margin-right: 0;
        }
    }
    &-second {
        padding: 20px;
        padding-bottom: 0;
        border-radius: 20px;
        position: relative;
        margin: 0 20px 20px 20px;
        &-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        &-top {
            vertical-align: top;
            width: 100%;
            height: 232px;
            border-radius: 12px;
        }
        &-content {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            &-item {
                vertical-align: top;
                width: calc(1 / 3 * 100% - (1 - 1 / 3) * 16px);
                height: 252px;
                border-radius: 12px;
                margin-right: 16px;
                margin-bottom: 20px;
            }
            &-item:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    &-third {
        position: relative;
        border-radius: 20px;
        margin: 0 20px;
        &-bg {
            width: 100%;
            height: 268px;
            border-radius: 20px;
        }
        &-tip {
            width: 188px;
            height: 188px;
            position: absolute;
            top: 60px;
            left: 20px;
        }
        &-content {
            position: absolute;
            width: 67%;
            top: 60px;
            right: 2.5%;
            padding: 10px 12px;
            background-color: #fff;
            height: 188px;
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            &-item {
                vertical-align: top;
                width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
                height: 168px;
                margin-right: 10px;
                border-radius: 10px;
            }
            &-item:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    &-tabs {
        padding: 20px;
        text-align: center;
        white-space: nowrap;
        background-color: #f5f5f5;
        &-item {
            display: inline-block;
            flex-direction: column;
            &-top {
                font-size: 32px;
                font-weight: 500;
                color: #333;
                line-height: 44px;
            }
            &-bottom {
                padding: 0 10px;
                height: 32px;
                border-radius: 16px;
                font-size: 24px;
                color: #999;
                line-height: 34px;
                margin: auto;
            }
        }
        &-line {
            display: inline-block;
            margin: 0 25px;
            width: 2px;
            height: 62px;
            background-color: #e2e2e2;
        }
    }
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0 20px;
    }
    &-loading {
        margin: 40px 0 0 20px;
        text-align: center;
        font-size: 20px;
        color: #999;
    }
}