@import '../../../../styles/theme.scss';
$paading-lr: 30px;
.more-item {
  box-sizing: border-box;
  overflow-x: auto;
  width: 100vw;
  display: flex;
  flex-flow: row;
  // background: #F8F8F8;
  padding: 2px;
}

.month-calendar-item {
  min-width: 200px;
  height: 50px;
  background-color: rgb(26, 173, 25);
  margin: 0 2px;
}

.utp-applyService {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .utp-tab-bd {
    margin-top: 0;
  }
  .utp-div {
    flex: 1;
    background: #f7f4f8;
  }
  &-page {
    width: 100%;
    height: 100%;
    background-color: #f7f4f8;
  }
  &-serviceTab {
    width: 100%;
    height: 80px;
    background-color: #fbfbfb;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    z-index: 1;
    &-1,
    &-1-active {
      font-size: 28px;
      color: $color-low;
      position: relative;
    }
    &-1-active {
      color: $color-deep;
      font-weight: bold;
    }
    &-1-active::after {
      display: block;
      /*postcss-pxtransform rn eject enable*/
      content: '';
      /*postcss-pxtransform rn eject disable*/
      width: 60px;
      height: 4px;
      background-color: $color-deep;
      border-radius: 4px;
      z-index: 1;
      position: absolute;
      left: 50%;
      /*postcss-pxtransform rn eject enable*/
      transform: translateX(-50%);
      /*postcss-pxtransform rn eject disable*/
    }
  }
  //   商品
  &-serviceGoods {
    height: 436px;
    border-radius: 20px;
    padding-top: 0;
    padding-bottom: 0;
    // padding-right: 30px;
    // padding-left: 30px;
    background-color: $bgColor-normal;
    // margin-top: 80px;
    position: relative;
    margin: 20px;
  }
  &-serviceTimes {
    // width: 100%;
    height: 94px;
    border-radius: 20px 20px 0px 0px;
    margin-right: $paading-lr;
    margin-left: $paading-lr;
    background-color: $bgColor-normal;
    border-bottom: 1px solid #f5f5f5;
    &-time {
      font-size: 24px;
      color: $color-low;
    }
  }
  &-goodsInfo {
    padding-top: 30px;
    padding-right: $paading-lr;
    padding-left: $paading-lr;
    &-titles {
      flex: 1;
      margin-left: 20px;
      margin-right: 24px;
    }
    &-title {
      color: $color-deep;
      font-size: 26px;
      @include lamp-clamp(2);
    }
    &-tips {
      font-size: 26px;
    }
    &-size {
      background-color: #f6f6f6;
      /*postcss-pxtransform rn eject enable*/
      display: inline-block;
      /*postcss-pxtransform rn eject disable*/
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 12px;
      padding-left: 12px;
      font-size: 20px;
      color: $color-normal;
      border-radius: 20px;
    }
    &-price {
      font-size: 28px;
      color: $color-active;
      font-weight: bold;
    }
  }
  &-ServiceBtn {
    // background-color: #f8f8f8;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    // background: #f5f5f5;
    height: 70px;
    font-size: 15px;
    bottom: 15px;
    color: #666;
    line-height: 70px;
    min-height: 70px;
  }
  &-tipsBox {
    width: 200px;
  }
  &-tips {
    color: #ff2f3d;
    font-size: 26px;
    height: 100%;
    line-height: 60px;
  }
  &-Btn {
    width: 160px;
    height: 60px;
    color: #fff;
    background-color: $color-active;
    // border:1px solid $color-active;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    border-radius: 32px;
    position: absolute;
    right: 50px;
    top: 0;
  }
  &-disableBtn {
    background: #999;
    color: #fff;
  }
}
