@import '../../styles/theme.scss';
$textColor:#FF2F7B;
.good-item {
    padding-top: 10px;
    width: 100%;
    height: 220px;
    // display: flex;
    background-color: #fff;
    .items {
        &-img {
            margin: 0 0px 10px 15px;
            width: 180px;
            color: #666;
            background: #eee;
            overflow: hidden;
            border-radius: 10px 10px 10px 10px;
        }
        &-content {
            margin: 0 20px 0 20px;
            .goods {
                font-size: 26px;
                &-name {
                    height: 72px;
                    //  line-height: 30px;
                    width: 500px;
                    color: #333333;
                    font-size: 26px;
                    overflow: hidden;
                }
                &-spec {
                    display: inline-block;
                    margin-bottom: 10px;
                    text-align: center;
                    border-radius: 20px;
                    padding: 2px 15px;
                    color: #666;
                    background: #F6F6F6;
                    font-size: 24px;
                }
                &-by {
                    font-size: 28px;
                    // margin-top: 20px;
                    color: #999;
                }
                &-price {
                    .p-num {
                        color: $textColor;
                    }
                }
                &-num {
                    margin-left: 40px;
                    .n-num {
                        color: $textColor;
                    }
                }
            }
            .goods-by {}
        }
    }
}