@import '../../styles/theme.scss';
.utp-addCart {
  height: 98px;
  padding-right: 14px;
  background-color: $bgColor-normal;
  &-icos {
    margin-left: 28px;
  }
  &-btns {
    width: 440px;
    height: 72px;
  }
  &-btn {
    width: 220px;
    height: 72px;
    background-color: #ff1a8a;
    /*postcss-pxtransform rn eject enable*/
    background-image: linear-gradient(to right, #fc3344, #fd25e5);
    /*postcss-pxtransform rn eject disable*/
    border-top-right-radius: 72px;
    border-bottom-right-radius: 72px;
    &-1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 72px;
      border-bottom-left-radius: 72px;
      background-color: #2a2a2a;
      /*postcss-pxtransform rn eject enable*/
      background-image: linear-gradient(to right, #2a2a2a, #2a2a2a);
      /*postcss-pxtransform rn eject disable*/
    }
    &-2 {
      width: 440px;
      border-top-right-radius: 72px;
      border-bottom-right-radius: 72px;
      border-top-left-radius: 72px;
      border-bottom-left-radius: 72px;
      background-color: #ddd;
      /*postcss-pxtransform rn eject enable*/
      background-image: linear-gradient(to right, #ddd, #ddd);
      /*postcss-pxtransform rn eject disable*/
      &-1 {
        background-image: linear-gradient(to right, #fc3344, #fd25e5);
      }
    }
  }
}
