@import '../../styles/theme.scss';
.utp-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 750px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  &-hd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-ft {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
