@import '../../../styles/theme.scss';
.swiper-slide,
.swiper-slide-active,
.taro-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.utp-shoppingStores {
  min-height: 100vh;
  &-top {
    background-color: #fff;
    position: fixed;
    z-index: 666;
    top: 0;
    left: 0;
    right: 0;
    &-hd {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      &-backs {
        padding-left: 20px;
        padding-right: 10px;
      }
      &-back {
        width: 48px;
        height: 48px;
      }
      &-sch {
        flex: 1;
        height: 60px;
        background: rgba(245, 245, 245, 1);
        border-radius: 60px;
        margin-right: 14px;
      }
      &-scan {
        width: 150px;
        height: 60px;
        background: rgba(245, 245, 245, 1);
        border-radius: 60px;
        margin-right: 14px;
      }
      &-more {
        position: relative;
        width: 176px;
        height: 60px;
        background: rgba(245, 245, 245, 1);
        border-radius: 60px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
        &-gang {
          width: 2px;
          height: 36px;
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 12px;
          background-color: #cfcfcf;
        }
        &-item {
          width: 50%;
          height: 100%;
          float: left;
        }
      }
    }
  }
  &-position {
    position: relative;
    height: 0;
    z-index: 9;
    left: 0;
    top: 0;
    width: 190px;
  }
  &-menu1 {
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    width: 560px;
    background-color: #fff;
  }
}
.utp-shoppingStore {
  position: relative;
  top: 0;
  &-advbox {
    width: 100%;
    &-disbox {
      width: 100%;
    }
  }
  &-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    &-img {
      height: 132px;
      width: 208px;
    }
  }
  &-swipers {
    width: 100%;
    height: 246px;
  }
  &-swiper {
    width: 750px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    &-img {
      width: 100%;
      height: 246px;
      border-radius: 20px;
    }
    &-img1 {
      width: 100%;
      height: 246px;
      border-radius: 20px;
      box-sizing: border-box;
      margin: 0 20px;
    }
  }

  &-storeIcon {
    position: absolute;
    right: 30px;
    top: -60px;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
    width: 120px;
    height: 120px;
  }

  &-bgWrap {
    width: 750px;
    height: 400px;
  }
  &-bgMask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    z-index: 2;
    opacity: 0.1;
  }
  &-bg {
    z-index: 7;
  }
  &-lables {
    margin-left: 10px;
  }
  &-storeInfo {
    margin-top: -80px;
    background: #fcfcfc;
    width: 100%;
    padding-bottom: 20px;
    &-card {
      width: 710px;
      border-radius: 12px;
      padding: 30px;
      background-color: $bgColor-normal;
      position: relative;
    }
    &-score {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      &-img {
        height: 28px;
        width: 114px;
        margin-right: 10px;
      }
    }
    &-centerLine {
      width: 4px;
      height: 44px;
      background: #ececec;
      margin: 0 30px;
    }
    &-address {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-address1 {
      width: 100%;
      padding: 0 50px;
    }
    &-addressInfo {
      width: 482px;
      font-size: 24px;
      line-height: 34px;
      color: $color-deep;
    }

    &-Discount {
      margin-right: 10px;
      border-radius: 4px;
      margin-top: 10px;
    }

    &-Coupon {
      font-size: 24px;
      padding: 0 8px;
      color: $color-active;
      border-left: 1px solid $color-active;
      border-right: 1px solid $color-active;
      border-top: 1px solid $color-active;
      border-bottom: 1px solid $color-active;
      text-align: center;
      line-height: 40px;
      border-radius: 4px 0 0 4px;
    }
    &-reduction {
      font-size: 24px;
      background: $color-active;
      color: #fff;
      border-left: 1px solid $color-active;
      border-right: 1px solid $color-active;
      border-top: 1px solid $color-active;
      border-bottom: 1px solid $color-active;
      padding: 0 8px;
      line-height: 40px;
      border-radius: 0 4px 4px 0;
    }
  }

  &-titles {
    width: 100%;
    margin-bottom: 13px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
    &-img {
      width: 32px;
      height: 32px;
    }
  }

  &-title {
    color: $color-deep;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin-left: 10px;
    margin-right: 8px;
    @include lamp-clamp(2);
  }

  //   列表
  &-tabList {
    width: 100%;
    position: relative;
    height: 0;
    background-color: #f7f7f7;
  }

  &-topbox {
    width: 560px;
    padding-left: 20px;
    padding-right: 20px;
    //overflow-y: scroll;
  }

  &-shopCart {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 128px;
    height: 128px;
  }

  &-tabScroll {
    background-color: #f7f7f7;
    height: 100vh;
    overflow-y: scroll;
  }
  &-tabs {
    font-size: 32px;
    width: 190px;
    background-color: #f7f7f7;
    // background-color: lightseagreen;
    border-top-right-radius: 10px;

    &-1,
    &-1-active {
      width: 190px;
      min-height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 8px;
      text-align: center;
      color: #999;
      font-size: 26px;
    }
    &-1-active {
      background-color: $bgColor-normal;
      color: #333;
    }
    &-prefix {
      position: absolute;
      height: 40px;
      width: 6px;
      background: $color-active;
      left: 0;
    }
  }

  // 商品栏

  &-tabListScroll {
    width: calc(100% - 190px);
    //height: 100vh;
    background-color: $bgColor-normal;
    margin-left: 190px;
  }

  &-mytabsList {
    width: 100%;
    height: 100%;
    //overflow: hidden;
    &-subbox {
      width: 100%;
    }
    &-goods {
      padding: 0 10px;
      height: 100%;
      overflow-y: scroll;
      border-bottom: 1px solid #f5f5f5;
    }
    &-bigImg {
      width: calc(100% - 40px);
      height: 180px;
      margin-bottom: 20px;
    }

    &-goodstag,
    &-goodstag-active {
      width: 30%;
      height: 60px;
      text-align: center;
      color: $color-low;
      font-size: 26px;
      line-height: 60px;
      background-color: #f7f7f7;
      margin-top: 14px;
      margin-right: 10px;
    }

    &-goodstag-active {
      background-color: #fff5f9;
      color: $color-active;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &-openCoupon {
    width: calc(100% + 48px);
    height: 780px;
    background-color: $bgColor-normal;
    position: absolute;
    top: 70;
    left: -24px;
    z-index: 2;
    padding: 0 24px;
  }

  &-iconUp {
    position: absolute;
    bottom: -100px;
    left: 50%;
    z-index: 2;
  }

  &-hidden {
    display: none;
  }
  &-scroll {
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
