@import '../../../styles/theme.scss';
.utp-storeHome {
  min-height: 100vh;
  background-color: #f6f6f6;
  &-ad2 {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    &-box {
      width: 666px;
      border-radius: 20px;
      &-item6 {
        width: 670px;
        height: 232px;
        background-color: black;
        margin-bottom: 20px;
        border-radius: 12px;
      }
      &-item {
        width: 214px;
        height: 252px;
        border-radius: 8px;
        background-color: black;
      }
    }
  }

  &-ad3 {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
    height: 248px;
    &-box {
      width: 466px;
      height: 188px;
      background-color: #fff;
      border-radius: 16px;
      margin-right: 20px;
      padding: 10px;
      padding-right: 0;
      &-item {
        width: 142px;
        height: 168px;
        border-radius: 8px;
        margin-right: 10px;
        background-color: black;
      }
    }
  }
  &-swipes {
    background-color: #fff;
    padding: 20px;
  }
  &-icos {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
  }
  &-menusTop {
    height: 12px;
  }
  &-menus {
    //background-color: #fff;
    &-1 {
      height: 88px;
    }
    &-2 {
      //background-color: #fff;
      height: 88px;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 22px;
      padding-bottom: 22px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-item {
      display: inline-block;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
