@import '../../styles/theme.scss';
.utp-goods1 {
  box-sizing: border-box;
  position: relative;
  height: 296px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $bgColor-normal;
  padding:20px;
  width: 100%;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}

/*  #endif  */
.utp-goods1-check {
  width: 76px;
  height: 100%;
}
.utp-goods1-check-img {
  width: 38px;
  height: 38px;
}
.utp-goods1-i {
  width: 256px;
  height: 256px;
  border-width: 1px;
  border-color: #F4F4F4;
  border-style: solid;
  border-radius:12px;
}

.utp-goods1-img {
  width: 100%;
  height: 100%;
}

.utp-goods1-item {
  flex: 1;
  position: relative;
  height: 250px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.utp-goods1-moneys {
  color: $color-active;
  height: 44px;
  line-height: 44px;
  font-size: 40px;
  font-weight: 500;
}
.utp-goods1-activelabel{
  margin-left: 20px;
  color: $color-active;
  font-size: 22px;
  padding:0 6px;
  height:32px;
  line-height: 32px;
  border-radius:4px;
  border:1px solid $color-active;
}
.utp-goods1-money-1 {
  color: $color-low;
  font-size: 24px;
  /*postcss-pxtransform rn eject enable*/
  text-decoration: line-through;
  /*postcss-pxtransform rn eject disable*/
  margin-left: 15px;
  // vertical-align: bottom;
  text-align: right;
}

.utp-goods1-add {
  width: 44px;
  height: 44px;
  background-color: #fff5f9;
}
.utp-goods1-add-ico {
  width: 44px;
  height: 44px;
}

.utp-goods1-item {
  padding-left: 10px;
  padding-right: 10px;
}
.utp-goods1-titles {
  height: 70px;
  position: relative;
  margin-bottom: 13px;
  &-tag {
    position: absolute;
    left: 0;
    top: 4px;
  }
}
.utp-goods1-label {
  display: flex;
}
.utp-goods1-title {
  color: $color-deep;
  font-size: 30px;
  line-height: 40px;
  height: 80px;
  @include lamp-clamp(2);
}
.utp-goods1-indent{
   text-indent: 64px;
}
.utp-goods1-ft {
  height: 88px;
  display: flex;
  flex-direction: column;
}

.utp-goods1-stores {
  width: 100%;
  // position: absolute;
  // bottom: 0px;
  color: $color-low;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.utp-goods1-store {
  width: 120px;
  line-height: 40px;
  font-size: 24px;
  @include lamp-clamp(1);
}

.utp-goods1-toStore {
  margin-left: 20px;
}
