@import '../../../styles/theme.scss';

.swiper-wrapper {
  width: 100%;
}

.utp-Voucher {
  background-color: $bgColor-dark;
  margin-bottom: 100px;
  position: relative;

  &-swipeBox {
    background-color: $bgColor-normal;

    .swiper-container {
      height: 100%;
    }
  }
  &-swipe {
    height: 400px;
    width: 100%;
  }

  &-item {
    &-1 {
      background-color: red;
      height: 400px;
    }
    &-2 {
      background-color: pink;
      height: 400px;
    }
    &-3 {
      background-color: blue;
      height: 400px;
    }
  }

  &-voucherTitleBox {
    padding: 20px;
    padding-right: 0;
    background-color: $bgColor-normal;
  }

  &-voucherTitles {
    flex: 1;
  }
  &-gang1 {
    width: 120px;
  }
  &-gang {
    width: 2px;
    height: 80px;
    margin-left: 20px;
    background-color: #f0f0f0;
  }
  &-voucherTitle {
    font-size: 34px;
    font-weight: bold;
    color: $color-deep;
  }

  &-voucherNum {
    font-size: 34px;
    color: $color-active;
  }
  &-voucherSale {
    font-size: 24px;
    color: $color-low;
  }

  &-addressBox {
    width: 100%;
    height: 200px;
    background-color: $bgColor-normal;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-right: 0;

    &-titles {
      font-size: 30px;
      color: $color-deep;
      margin-bottom: 10px;
      @include lamp-clamp(1);
    }

    &-address {
      margin-bottom: 20px;
    }

    &-addressContent {
      flex: 1;
      margin-left: 20px;
      font-size: 26px;
      color: $color-normal;
    }
  }

  &-explain {
    background-color: $bgColor-normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    &-titles {
      font-size: 28px;
      color: $color-low;
      margin-bottom: 4px;
    }

    &-content {
      font-size: 28px;
      color: $color-deep;
    }

    &-part2 {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &-Receive {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: $bgColor-normal;
    padding-left: 20px;
    padding-right: 20px;

    &-priceIcon {
      font-size: 28px;
      color: $color-active;
    }
    &-price {
      font-size: 48px;
      color: $color-active;
      margin-right: 8px;
    }
    &-oldPrice {
      font-size: 24px;
      color: $color-normal;
      text-decoration: line-through;
    }
    &-text {
      font-size: 18px;
      color: $color-low;
    }

    &-right {
      width: 300px;
      height: 72px;
      line-height: 72px;
      text-align: center;
      background-color: $color-active;
      font-size: 30px;
      color: #fff;
      border-radius: 36px;
    }
  }
}
