@import '../../../styles/theme.scss';
$FONT_FAMILY:PingFangSC-Regular,
PingFang SC;
.utp-safe {
    background: #f5f5f5;
}

.pullDownBlock .tip {
    color: #666;
    font-size: 25px;
}

.collage {
    .more-title {
        font-size: 36px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 36px;
    }
    // min-height: 100%;
    // padding-bottom: 50px;
    background: #f5f5f5;
    .more-text {
        font-size: 24px;
        color: #666;
    }
    .count-down {
        padding-top: -10px;
        font-size: 28px;
        color: #FF2A48;
        &-item {
            min-width: 36px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0px 5px;
            margin: 5px;
            background: #FF2A48;
            border-radius: 5px;
            color: #fff;
        }
    }
    .collage-goods {
        width: 710px;
        margin: 0 auto;
        font-size: 30px;
        margin-top: 30px;
        &-item {
            padding: 10px;
            color: red;
            width: 706px;
            min-height: 302px;
            margin-top: 20px;
            background: #fff;
            border-radius: 20px;
            .item-image {
                width: 280px;
                height: 280px;
                background: #eee;
                margin: 10px;
                border-radius: 8px;
                overflow: hidden;
            }
            .item-content {
                padding-left: 20px;
                .item-name {
                    overflow: hidden;
                    word-wrap: break-word;
                    font-size: 32px;
                    font-family: $FONT_FAMILY;
                    font-weight: 400;
                    width: 366px;
                    margin-top: 10px;
                    height: 85px;
                    color: rgba(0, 0, 0, 1);
                    line-height: 40px;
                }
                .spec {
                    width: 300px;
                    margin-left: -10px;
                    &-tag {
                        display: inline-block;
                        background: rgba(255, 247, 225, 1);
                        padding: 0px 5px;
                        margin: 5px 0 0 10px;
                        border-radius: 4px;
                        color: #FF9D00;
                        font-size: 22px;
                    }
                }
                .item-tag {
                    color: #FF2A48;
                    padding: 5px 10px;
                    font-size: 22px;
                    font-family: $FONT_FAMILY;
                    font-weight: 400;
                    color: #FF2A48;
                    line-height: 24px;
                    display: inline-block;
                    border-radius: 4px;
                }
                .item-btm {
                    display: flex;
                    margin-top: 10px;
                    width: 364px;
                    border-radius: 40px;
                    height: 80px;
                    // padding: 0px 10px;
                    background: #242325;
                    overflow: hidden;
                    .btm-item {
                        flex: 1;
                        &.left {
                            font-weight: 500;
                            font-size: 34px;
                            color: #fff;
                            padding-right: 20px;
                            text-align: right;
                            .big-text {}
                            .small-text {
                                text-decoration: line-through;
                                font-size: 24px;
                                line-height: 10px;
                                color: #fff;
                            }
                        }
                        &.right {
                            padding: 0 10px;
                            background: linear-gradient(136deg, rgba(183, 47, 253, 1) 0%, rgba(132, 51, 251, 1) 100%);
                            border-radius: 0px 40px 40px 0px;
                            .words {
                                font-size: 34px;
                                color: #fff;
                            }
                            .sm-words {
                                line-height: 15px;
                                font-size: 24px;
                                color: #DF9EFE;
                            }
                            .right-arrow {
                                color: #fff;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .scroll-tag-box {
        width: 100px;
        height: 8px;
        background: #eee;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        .bar {
            height: 100%;
            background: #9B32FC;
            border-radius: 5px;
            position: absolute;
        }
    }
    .scroll-tab {
        overflow-x: auto;
        display: flex;
        margin: 0 auto;
        flex-flow: row;
        &-item {
            margin: 0px 8px 5px 4px;
            flex: inline-flex;
            font-size: 28px;
            height: 200px;
            width: 160px;
            .item-img {
                width: 156px;
                height: 156px;
                background: #eee;
                border-radius: 10px;
                overflow: hidden;
            }
            .item-price {
                margin-top: 10px;
                line-height: 30px;
                .new-price {
                    font-size: 26px;
                    // padding: 0 10px 0 5px;
                    color: #8519F9;
                    display: inline-block;
                }
                .old-price {
                    padding: 2px 0 0 6px;
                    text-decoration: line-through;
                    display: inline-block;
                    color: #666;
                    font-size: 20px;
                }
            }
        }
    }
    .goods-swiper {
        width: 706px;
        height: 356px;
        background: #fff;
        margin: 0 auto;
        border-radius: 20px;
        font-size: 30px;
        //  padding: 30px 24px;
        &-head {
            padding: 25px 15px 25px 20px;
            // padding: 30px 24px;
        }
        .more-text {
            font-size: 24px;
            color: #666;
        }
    }
    &-top {
        height: 360px;
        background-image: url('../../../assets/special/top_bg.png');
        background-size: 100% 360px;
        background-repeat: no-repeat;
        // &-img {
        //     width: 100%;
        //     height: 100%
        // }
    }
    &-pad {
        margin: 0 auto;
    }
    &-card {
        width: 710px;
        height: 280px;
        vertical-align: bottom;
        position: relative;
        z-index: 5;
        margin: auto;
        margin-top: -160px;
        border-radius: 20px;
        overflow: hidden;
    }
    .collage-items-box {
        margin: 10px auto;
        width: 750px;
        display: flex;
        flex-wrap: wrap;
        .items {
            margin-top: 10px;
            overflow: hidden;
            text-align: center;
            width: 160px;
            border-radius: 20px;
            height: 160px;
            background-size: 160px 160px;
            background-repeat: no-repeat;
            margin-left: 22px; //  margin: 10px;
        }
    }
}