@import '../../../styles/theme.scss';
.utp-order {
  &-hd {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right, #fc3344, #fd25e5);
  }
  &-bd {
    // margin-bottom: 120px;
    &-price {
      font-size: 40px;
      font-weight: 700;
      color: #fff;
    }
    &-price1 {
      font-size: 28px;
      color: $color-normal;
    }
    &-price2 {
      font-size: 34px;
      color: $color-active;
      font-weight: 700;
    }
    &-bar {
      color: #fff;
    }
    &-top {
      position: relative;
      height: 340px;
      background-color: #ff2074;
      /*postcss-pxtransform rn eject enable*/
      background-image: linear-gradient(to right, #fc3344, #fd25e5);
      /*postcss-pxtransform rn eject disable*/
      &-status {
        height: 100px;
        position: absolute;
        left: 28px;
        bottom: 40px;
        right: 30px;
        &-tits {
          margin-left: 22px;
        }
      }
    }
    &-gang {
      border-width: 0;
      border-bottom-width: 1px;
      border-color: #eeeeee;
    }
    &-addres {
      width: 556px;
      text-align: right;
    }
    &-address {
      padding-top: 15px;
      padding-bottom: 20px;
      &-icos {
        width: 60px;
        height: 60px;
      }
      &-rights {
        width: 44px;
      }
      &-right {
        flex: 1;
        margin-left: 20px;
      }
    }
    &-infomation {
      padding-top: 24px;
      padding-bottom: 4px;
      &-value {
        flex: 1;
        margin-left: 20px;
      }
      &-value2 {
        margin-bottom: 20px;
      }
      &-value3 {
        margin-left: 46px;
      }
    }
    &-box {
      padding-left: 10px;
      padding-right: 10px;
      &-1 {
        padding-right: 5px;
      }
    }
    &-store {
      height: 80px;
      &-title {
        margin-left: 5px;
      }
    }
    &-refund {
      display: inline-block;
      font-size: 28px;
      padding:16px 40px;
      height: 60px;
      border: 1px solid $color-active;
      border-radius: 30px;
      color: $color-active;
    }
  }
  &-ft {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-btns {
    height: 100px;
    background-color: $bgColor-normal;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &-btn {
      margin-left: 20px;
      width: 188px;
    }
  }
}

.taro_page {
  background-color: #f5f5f5;
}
