// *{
//   box-sizing: border-box;
// }
/*  #ifdef weapp  */
page {
  height: 100%;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

button {
}
/*  #endif  */

/*  #ifdef h5  */
div {
  box-sizing: border-box;
}

button {
  outline: none;
}

.taro-text {
  box-sizing: border-box;
  display: block;
}

.taro-tabbar__panel,
.taro_router {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.taro_page {
  flex: 1;
}
/*  #endif  */
