@import './mixins.scss';
$color-active: #ff2f7b;
$color-low: #999;
$color-normal: #666;
$color-deep: #333;
$bgColor-normal: #fff;
$bgColor-dark: #fbfbfb;

$font-family1: PingFangSC-Regular, PingFang SC;
$font-family2: PingFangSC-Medium, PingFang SC;
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

.utp-html {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 750px;
  background: $bgColor-normal;
}
.utp-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;

  /*  #ifdef weapp  */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $bgColor-normal;
  /*  #endif  */
}
.utp-body-page {
  /*  #ifdef weapp  */
  top: 44px;
  /*  #endif  */
}
.utp-solid {
  /*postcss-pxtransform rn eject enable*/
  border-style: solid;
  /*postcss-pxtransform rn eject disable*/
}

.utp-bd {
  flex: 1;
  width: 750px;

  /*  #ifdef weapp  */
  position: absolute;
  top: 0px;
  bottom: 0;
  /*  #endif  */
}
.utp-bd-page {
  /*  #ifdef weapp  */
  top: 90px;
  /*  #endif  */
}
.utp-hd {
  /*  #ifdef weapp  */
  position: relative;
  z-index: 1;
  /*  #endif  */
}
.utp-ft {
  /*  #ifdef weapp  */
  position: relative;
  z-index: 1;
  /*  #endif  */
}
.utp-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.utp-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*postcss-pxtransform rn eject enable*/
.utp-div {
  box-sizing: border-box;
}
/*postcss-pxtransform rn eject disable*/
.taro-img {
  /*postcss-pxtransform rn eject enable*/
  // display: block;
  /*postcss-pxtransform rn eject disable*/
}
