@import '../../../styles/theme.scss';
.utp-scanResult {
  &-hd {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
  }
  background: #f5f5f5;
  &-box {
    width: 100%;
    background: #f5f5f5;
  }
  &-topTip {
    width: 100%;
    height: 68px;
    line-height: 68px;
    background: #fff5f9;
    font-size: 24px;
    color: $color-active;
    padding-left: 20px;
  }
  &-want {
    width: 100%;
    height: 36px;
    font-size: 26px;
    line-height: 36px;
    margin-top: 20px;
    padding-left: 20px;
    color: $color-low;
  }
}
