@import '../../../styles/theme.scss';
.utp-config {
  min-height: 100vh;
  background-color: #323951;
  padding-top: 1px;
  &-box {
    border-radius: 8px;
    overflow: hidden;
    margin: 340px auto 0;
    background-color: #fff;
    &-btn {
      height: 90px;
      background-color: #202538;
    }
  }
  &-tips {
    margin-top: 50px;
  }
}
