
.utp-scan{
    width:100%;
    height: 100%;
    position: relative;
    &-box{
        width:100%;
        height: 100%;
    }
    &-area{
        position: absolute;
        top:150px;  
        left: 0;
        right:0;
        margin:0 auto;
        width:520px;
        height: 520px;
        border:4px solid #fff;
        margin:0 auto;
    }
    &-comontip{
        position: absolute;
        font-size:24px;
        color:#fff;
        width:474px;
        position: absolute;
        text-align: center;
        left: 0;
        right:0;
        margin:0 auto;
    }

    &-top{
        top:10px;
        font-size: 32px;
        font-weight: 500;
    }
    &-mask{
        top:150px;
        width:520px;
        height: 80px;
        background: linear-gradient(
        to top,
        rgba(211, 149, 155, 1) 0%,
        rgba(191, 230, 186, 0) 100%
        );
        opacity: 0.46;
        position: absolute;
        top: 0;
        animation: "myfirst" 2s linear infinite;
        
    }
    @keyframes myfirst {
        0% {
          transform: translate(0px, 140px);
        }
        100% {
          transform: translate(0px, 590px);
        }
      }
    &-tip1{
        top:710px;
        height:68px;
    }
    &-tip2{
        bottom:80px;
        height: 80px;
        line-height: 80px;
        background: #000;
        opacity: 0.4;
    }
    &-none{
        display: none;
    }
}