@import '../../styles/theme.scss';
.utp-address {
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 25px;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #f6f6f6;
  &-1 {
    padding-left: 0;
    padding-right: 14px;
  }
  &-hd {
    &-name {
      width: 152px;
    }
    &-status {
      margin-top: 10px;
      width: 112px;
      height: 32px;
      background: rgba(255, 238, 239, 1);
      border-radius: 16px;
    }
    &-phones {
      margin-right: 16px;
    }
    &-tags {
      margin-right: 10px;
    }
    &-content {
      margin-left: 18px;
      flex: 1;
    }
  }

  &-tip {
    width: 470px;
    margin-top: 8px;
    color: $color-normal;
    line-height: 38px;
    font-size: 26px;
    @include lamp-clamp(2);
  }
  &-tipPre{
    width: 640px;
  }
  &-icos {
    flex: 1;
  }
}
