@import '../../../styles/theme.scss';
.utp-integral-rule {
  padding: 30px;
  min-height: 100%;
  position: relative;
  .utp-integral-rule-text {
    font-size:26px;
    font-family: $font-family1;
    font-weight:400;
    color:$color-normal;
    line-height:36px;
  }
  img {
    width:690px;
    height:340px;
    border-radius:20px;
    margin: 30px 0;
  }
  .utp-integral-rule-open {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
    padding-top: 20px;
  }
}