.integral-mall-list {
  margin-bottom: 48px;
  &-more {
    position: relative;
    float: right;
    top: 48px;
    color: #666;
    font-size: 26px;
    &-text {
      display: inline-block;
      vertical-align: middle;
    }
    &-icon {
      vertical-align: middle;
      display: inline-block;
      width: 25px;
      height: 25px;
    }
  }
  &-title {
    margin: 40px 0 20px 10px;
    font-size: 36px;
    font-weight: 500;
  }
}
