@import '../../styles/theme.scss';
.utp-test {
  color: $color-active;
}

.utp-home-fours {
  width: 710px;
  margin-top: -46px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 16px;
  &-icos {
    height: 176px;
  }
  &-ico {
    height: 176px;
    width: 176px;
  }
}
.utp-homeCate {
  //padding-left: 20px;
  //padding-right: 20px;
  padding-top: 28px;
  //padding-bottom: 30px;
  padding-bottom: 12px;
  background-color: #f4f4f4;
  &-item {
    &-gangs {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-gang {
      width: 2px;
      height: 62px;
      background: #e2e2e2;
    }
    width: 187.5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-tag {
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 3px;
      height: 32px;
      border-radius: 32px;
      border-width: 0;
      padding-left: 13px;
      padding-right: 13px;
      &-crt {
        background-color: $color-active;
        background-image: linear-gradient(to right, #fc3344, #fd25e5);
      }
    }
  }
}
.utp-home-tags {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 34px;
  &-tagsbox {
    padding-top: 24px;
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    position: absolute;
    z-index: 8;
    border-radius: 20px 20px 0 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: -20px;
  }
  &-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-title {
    font-size: 24px;
    color: $color-normal;
  }
}
.utp-set2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}
.utp-set1 {
  // background-color: transparent;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  &-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  &-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    // background-color: #fafafa;
    background-color: transparent;
  }
  /*  #ifdef h5  */
  box-sizing: border-box;

  /*  #endif  */
}

.utp-set-ico {
  height: 100%;
  width: 80px;
}
.utp-ico-set {
  width: 48px;
  height: 48px;
}
.utp-ico-set1 {
  width: 40px;
  height: 40px;
}

.utp-ico1 {
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
  width: 750 * 2px;
  &-box {
    width: 164px;
  }
}

.utp-home-pageBtn {
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  background-color: pink;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
