@import '../../styles/theme.scss';
.utp-sec {
  height: 100px;
  position: relative;
  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 750px;
    height: 100px;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &-re {
    position: relative;
    z-index: 1;
  }
  &-dell {
    color: #ffabb5;
    font-size: 18px;
    text-align: left;
    /*postcss-pxtransform rn eject enable*/
    text-decoration: line-through;
    /*postcss-pxtransform rn eject disable*/
  }
  &-prices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 5px;
    flex-wrap: wrap;
  }
  &-price {
    color: #fff;
    font-size: 44px;
    line-height: 46px;
    text-align: left;
    &-1 {
      font-size: 30px;
      line-height: 32px;
      text-align: left;
    }
  }
  &-tips {
    position: relative;
    margin-right: 18px;
    z-index: 1;
    background-color: #e12738;
    border-radius: 8px;
    width: 68px;
    height: 68px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-txt {
      font-size: 22px;
      color: #fff;
      line-height: 26px;
      text-align: center;
    }
  }
  &-box {
    position: relative;
    z-index: 1;
    margin-left: 6px;
    margin-right: 6px;
    background-color: $bgColor-normal;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-txt {
      font-size: 28px;
      color: #ff2f3d;
      text-align: center;
    }
  }
  &-assemblebox {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &-rules {
    width: 64px;
    height: 36px;
    border-radius: 6px;
    opacity: 0.9;
    border-width: 1px;
    border-color: #fff;
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
  }
}
