.flow-goods-box {
    width: 700px;
    column-count: 2;
    // display: flex;
    // flex-wrap: wrap;
}

.float-item {
    //text-align: top;
    break-inside: avoid;
    box-sizing: border-box;
    width: 348px;
    background: #ffffff;
    margin: 20px 17px 20px 17px;
    border-radius: 20px;
    overflow: hidden;
    &-img {
        position: relative;
        border-radius: 20px;
        // background-color: #ddd;
        .goods-img {
            border-radius: 20px 20px 0 0;
        }
    }
    &-content {
        padding: 20px;
        font-size: 28px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 40px;
        &-title {}
        .dot-box {
            margin-top: 10px;
            .dots {
                overflow: hidden;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-right: 10px;
                background: #333;
                border-radius: 50%;
            }
            .dot-name {
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 34px;
            }
        }
    }
}