@import '../../../styles/theme.scss';

.utp-clothingSort {
  position: relative;
  background-color: $bgColor-dark;

   &-scroll{
     height: 660px;
     overflow-y: scroll;
   }
  &-storeIcon {
    position: absolute;
    right: 30px;
    top: -60px;
  }

  &-bgWrap {
    width: 100%;
    height: 400px;
  }

  &-storeInfo {
    margin-top: -120px;
    background-color: $bgColor-normal;

    &-card {
      width: 100%;
      padding: 24px;
      position: relative;
    }

    &-score {
      width: 100%;
      height: 50px;
    }

    &-address {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 40px;
    }

    &-addressInfo {
      width: 560px;
      font-size: 24px;
      color: $color-deep;
    }

    &-Discount {
      margin-right: 20px;
      border-radius: 4px;
    }

    &-Coupon {
      width: 40px;
      font-size: 24px;
      color: $color-active;
      border-left: 1px solid $color-active;
      border-right: 1px solid $color-active;
      border-top: 1px solid $color-active;
      border-bottom: 1px solid $color-active;
      text-align: center;
      line-height: 40px;
    }
    &-reduction {
      font-size: 24px;
      color: $color-active;
      border-left: 1px solid $color-active;
      border-right: 1px solid $color-active;
      border-top: 1px solid $color-active;
      border-bottom: 1px solid $color-active;
      padding: 0 10px;
    }
  }

  &-titles {
    // height: 70px;
    position: relative;
    margin-bottom: 13px;
    width: 510px;

    &-tag {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }

  &-title {
    color: #3c3c3c;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    /*postcss-pxtransform rn eject enable*/
    text-indent: 64px;
    /*postcss-pxtransform rn eject disable*/
    @include lamp-clamp(2);
  }

  &-openCoupon {
    width: calc(100% + 48px);
    height: 780px;
    background-color: $bgColor-normal;
    position: absolute;
    top: 0;
    left: -24px;
    z-index: 2;
    padding: 0 24px;
  }

  &-iconUp {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 2;
  }

  &-hidden {
    display: none;
  }

  &-sortInfo {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    &-card {
      width: calc(100% - 40px);
      //   height: 388px;
      margin-bottom: 20px;
      background-color: $bgColor-normal;
      padding: 24px;
      border-radius: 24px;

      &-tag {
        width: 49%;
        flex-shrink: 0;
        font-size: 26px;
        color: $color-deep;
        height: 76px;
        line-height: 76px;
        background-color: #f2f2f2;
        margin-bottom: 10px;
        padding-left: 20px;
        border-radius: 8px;
      }
    }
  }
}
