@import '../../../styles/theme.scss';

.utp-freePlayList {
  background-color: #f8f8f8;

  &-goodsInfo {
    // height: 220px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 1px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $bgColor-normal;
    margin-bottom: 10px;

    &-freeCard {
      margin-left: 200px;
      margin-top: 20px;

      &-tagBox {
        // height: 70px;
        position: relative;
        margin-bottom: 40px;
      }
      &-tag {
        position: absolute;
        left: 0;
        top: 4px;
      }

      &-title {
        color: #3c3c3c;
        font-size: 26px;
        line-height: 35px;
        /*postcss-pxtransform rn eject enable*/
        text-indent: 64px;
        /*postcss-pxtransform rn eject disable*/
        @include lamp-clamp(1);
      }
    }
  }

  &-titlesBox {
    width: calc(100% - 200px);
    margin-left: 20px;
    height: 220px;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 12px;
  }

  &-titles {
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    @include lamp-clamp(1);
  }

  &-renqi {
    font-size: 24px;
    color: $color-normal;
  }

  &-positionTitle-Box {
    flex: 1;
  }
  &-positionTitle {
    font-size: 24px;
    color: $color-low;
    @include lamp-clamp(1);
    padding-top: 80px;
  }
}
