.pup-box {
    // position: absolute;
    // top: 0;
    // z-index: 111;
    // left: 100%;
    // width: 100%;
    // height: 100%;
    // background: #f5f5f5;
    // font-size: 30px;
}

.sel-pup {
    background: #f5f5f5;
    position: relative;
    width: 100%;
    height: 100vh;
    .text-words {
        font-size: 28px;
    }
    .btn-box {
        width: 750px;
        height: 100px;
        position: absolute;
        bottom: 50px;
        font-size: 30px;
    }
    .pup-btn {
        width: 590px;
        line-height: 72px;
        height: 72px;
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        background-image: linear-gradient(to right, #FF2F3D, #FF00E8);
        border-radius: 50px;
    }
}