@import '../../../../styles/theme.scss';
.app-bar {
    height: 100px;
    width: 100%;
    padding: 0 20px;
    line-height: 100px;
    font-size: 40px;
    position: fixed;
    color: #fff;
    z-index: 111;
    &-back {
        text-align: center;
        font-size: 40px;
        padding-top: 30px;
        height: 100px;
        width: 70px;
    }
    &-right {
        text-align: right;
        height: 100px;
        width: 70px;
    }
    &-title {
        font-size: 34px;
    }
}