@import '../../styles/theme.scss';
.utp-card {
  width: 100%;
  height: 185px;
  position: relative;
  margin-top: 20px;
  padding-top: 14px;
  padding-left: 30px;
  padding-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &-item {
    flex: 1;
    position: relative;
    z-index: 1;
    &-tag {
      margin-right: 18px;
    }
  }
  &-btn {
    width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 14px;
    border-left-width: 2px;
    border-left-style: dashed;
    border-left-color: #ffd7e6;
    &-unactive {
      border-left-color: #dddddd;
    }
  }
  &-rules {
    margin-right: 28px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ffd7e6;
    &-unactive {
      border-top-color: #dddddd;
    }
  }
}
