@import '../../../styles/theme.scss';
.utp-search {
  &-hd-1 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
    background-color: #fff;
    z-index: 1;
  }

  &-hd {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    top: 0;
    background-color: #fbfbfb;
    z-index: 1;
    &-schs {
      height: 92px;
      padding-left: 30px;
    }
    &-sch {
      position: relative;
      height: 68px;
      border-width: 3px;
      border-radius: 34px;
      background: #f5f5f5;
      margin-right: 6px;
      flex: 1;
      padding-right: 20px;
      padding-left: 20px;
    }
    &-ipts {
      flex: 1;
      padding-right: 10px;
    }
    &-ipts1 {
      height: 100%;
      font-size: 28px;
      color: #bbbbbb;
    }

    &-btn {
      width: 118px;
      height: 64px;
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 64px;
      background-color: #ff188e;
      /*postcss-pxtransform rn eject enable*/
      background-image: linear-gradient(to right, #fc3344, #fd25e5);
      /*postcss-pxtransform rn eject disable*/
    }
    &-cancel {
      width: 102px;
      height: 64px;
    }
    &-sorts {
      position: relative;
      &-gang {
        position: absolute;
        height: 44px;
        width: 1px;
        background-color: #f5f5f5;
        top: 18px;
        right: 160px;
      }
      height: 80px;
      background-color: $bgColor-normal;
      padding-left: 30px;
      padding-right: 30px;
      &-box {
        height: 68px;
        position: relative;
        &-ft {
          position: absolute;
          right: 0;
          height: 4px;
          left: 0;
          bottom: 0;
          &-gang {
            height: 4px;
            background-color: $color-active;
            width: 48px;
            border-radius: 4px;
          }
        }
      }
    }
    &-prices {
      margin-left: 7px;
      &-u {
        height: 12px;
        overflow: hidden;
      }
      &-dd {
        position: relative;
        top: -12px;
      }
    }
    &-tags {
      height: 100px;
      background-color: $bgColor-normal;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 21px;
      padding-bottom: 21px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius:15px;
    }
    &-tag {
      /*postcss-pxtransform rn eject enable*/
      display: inline-block;
      /*postcss-pxtransform rn eject disable*/
      margin-right: 12px;
    }
  }
  &-bd {
    margin-top: 112px;
    &-1 {
      // margin-top: 172px;
      background-color: $bgColor-normal;
      min-height: calc(100vh - 92px);
    }
    &-2 {
      margin-top: 272px;
    }
    &-3 {
      margin-top: 172px;
    }
    background-color: $bgColor-normal;
    &-th {
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 24px;
    }
    &-box {
      padding-left: 30px;
      padding-right: 30px;
      margin-top:16px;
      margin-bottom: 50px;
    }
  }
  &-ft {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    top: 0;
  }
}
.taro_page {
  background-color: #f5f5f5;
}
