@import '../../../styles/theme.scss';
.utp-liberAd {
  min-height: 100vh;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  &-titles {
    margin-bottom: 20px;
  }
  &-imgs {
    margin-bottom: 20px;
  }
}
