@import '../../styles/theme.scss';
.utp-shopGoods {
  position: relative;
  width: 100%;
  // height: 180px;
  // margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $bgColor-normal;
  padding: 10px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  &-miaosha {
    width: 100px;
  }
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
  width: 100%;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}

/*  #endif  */
.utp-shopGoods-check {
  width: 76px;
  height: 100%;
}
.utp-shopGoods-check-img {
  width: 38px;
  height: 38px;
}
.utp-shopGoods-i {
  border-width: 1px;
  border-color: #f3f3f3;
}

.utp-shopGoods-img {
  width: 200px;
  height: 200px;
  border: 1px solid #f7f7f7;
  // border-radius:4px;
}

.utp-shopGoods-item {
  flex: 1;
  position: relative;
  // height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.utp-shopGoods-moneys {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.utp-shopGoods-money {
  color: $color-active;
  line-height: 32px;
  font-size: 32px;
  font-weight: bold;
  // vertical-align: bottom;
}

.utp-shopGoods-money-1 {
  color: $color-low;
  font-size: 20px;
  /*postcss-pxtransform rn eject enable*/
  text-decoration: line-through;
  /*postcss-pxtransform rn eject disable*/
  margin-left: 15px;
  // vertical-align: bottom;
  text-align: right;
}

.utp-shopGoods-add {
  width: 44px;
  height: 44px;
  background-color: #fff5f9;
}
.utp-shopGoods-add-ico {
  width: 40px;
  height: 40px;
}

.utp-shopGoods-titles {
  // height: 70px;
  position: relative;
  margin-bottom: 13px;
  &-tag {
    position: absolute;
    left: 0;
    top: 4px;
  }
}
.utp-shopGoods-title {
  color: $color-deep;
  font-size: 28px;
  // line-height: 70px;
  /*postcss-pxtransform rn eject enable*/
  // text-indent: 64px;
  /*postcss-pxtransform rn eject disable*/
  @include lamp-clamp(2);
}

.utp-shopGoods-ft {
  // height: 88px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}

.utp-shopGoods-stores {
  width: 100%;
  color: $color-low;
}

.utp-shopGoods-store {
  width: 120px;
  line-height: 40px;
  font-size: 24px;
  @include lamp-clamp(1);
}

.utp-shopGoods-toStore {
  // display: inline-block;
  margin-left: 15px;
  font-size: 24px;
}

