@import '../../styles/theme.scss';
.utp-html {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 750px;
  background: #fbfbfb;
}
.utp-cate-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/*sch*/
.utp-sch-box1 {
  position: absolute;
  height: 88px;
  width: 750px;
  left: 0;
  top: 0;
  background: $bgColor-normal;
}
.utp-cate-l {
  position: absolute;
  top: 96px;
  width: 186px;
  left: 0;
  bottom: 0;
  background: rgba(247, 247, 247, 1);
}
.utp-cate {
  position: relative;
  height: 100px;
  width: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.utp-cate-act {
  background: rgba(251, 251, 251, 1);
}
.utp-cate-g {
  width: 6px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 9999px;
  background: $color-active;
}
.utp-cate-g-crt {
  left: 0;
}
.utp-txt {
  font-size: 26px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}
.utp-txt-crt {
  font-size: 28px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}
.utp-cate-r {
  position: absolute;
  top: 96px;
  width: 544px;
  right: 10px;
  bottom: 0;
  background: #ffffff;
}
.utp-cates {
  background: $bgColor-normal;
  margin-bottom: 10px;
}
