.utp-InviteFriends {
  &-bgWrap {
    width: 100%;
    height: 364px;
  }

  &-content {
    // height: 500px;
    margin-top: -80px;
  }

  &-inviteText {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  &-toinvite {
    width: 300px;
  }
}
