@import '../../styles/theme.scss';

.utp-OperateCart {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;

  &-collection,
  &-remove,
  &-cancel {
    height: 140px;
    width: 140px;
    font-size: 28px;
    color: #fff;
    border-radius: 140px;
    line-height: 140px;
    text-align: center;
    background-color: #ff2f3d;
  }

  &-collection {
    background-color: #ff6c1f;
  }
  &-cancel {
    color: $color-normal;
    background-color: #eeeeee;
  }
}
