@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

.second-box {
    height: 100%;
    background-color: #f5f5;
    .line-box {
        margin: 20px 0 0 20px;
        width: 190px;
        height: 10px;
        background: linear-gradient(270deg, rgba(255, 200, 214, 1) 0%, rgba(255, 151, 173, 1) 100%) rgba(255, 235, 240, 1);
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        &-child {
            position: absolute;
            height: 10px;
            background: #FF2F7B;
            border-radius: 15px;
        }
    }
    .second-box-goods {
        font-size: 30px;
        padding-bottom: 50px;
        .goods-item {
            display: flex;
            width: 710px;
            min-height: 320px;
            background: rgba(255, 255, 255, 1);
            border-radius: 20px;
            margin: 20px auto;
            padding: 20px 0 20px 20px;
            &-img {
                // flex: 300px;
                width: 280px;
                height: 280px;
                position: relative;
                border-radius: 10px;
                background: #eee;
                overflow: hidden;
                &-done {
                    text-align: center;
                    position: absolute;
                    z-index: 11;
                    left: 50%;
                    top: 50%;
                    margin-top: -100px;
                    font-size: 32px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                    margin-left: -100px;
                    line-height: 200px;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 1);
                    opacity: 0.6;
                }
            }
            &-con {
                flex: 340px;
                margin-left: 20px;
                &-name {
                    margin-top: -3px;
                    width: 340px;
                    height: 84px;
                    font-size: 30px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 42px;
                }
                &-tag {
                    margin-top: 0px;
                    min-height: 45px;
                    overflow: hidden;
                    .tag-item {
                        display: inline-block;
                        height: 36px;
                        background: rgba(255, 247, 225, 1);
                        border-radius: 4px;
                        padding: 0 10px;
                        margin-right: 15px;
                        font-size: 22px;
                        line-height: 36px;
                        color: rgba(255, 157, 0, 1)
                    }
                }
                &-btn {
                    margin-top: 40px;
                    height: 80px;
                    width: 372px;
                    background-size: 372px 80px;
                    background-repeat: no-repeat;
                    position: relative;
                    color: #fff;
                    .right-text {
                        width: 150px;
                        height: 80px;
                        text-align: center;
                        line-height: 80px;
                        font-size: 28px;
                    }
                    .btn-left {
                        width: 200px;
                        text-align: right;
                        padding: 5px 20px 0 0;
                        .left-top {
                            font-size: 36px;
                        }
                        .left-bom {
                            line-height: 0;
                            padding-right: 2px;
                            font-size: 22px;
                            text-decoration: line-through;
                            color: #918E8E;
                        }
                    }
                    .btn-tag {
                        padding: 0 30px;
                        height: 34px;
                        line-height: 34px;
                        background: rgba(255, 235, 240, 1);
                        position: absolute;
                        border-radius: 20px;
                        text-align: center;
                        color: #FF2F7B;
                        font-size: 24px;
                        top: -25px;
                        left: 35px;
                    }
                }
            }
        }
    }
    background: #f5f5f5;
    .times-box {
        width: 100%;
        height: 148px;
        margin: 0 auto;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));
        //  background: #fff;
        border-radius: 20px 20px 0px 0px;
        margin-top: -30px;
        padding-top: 20px;
    }
    .time-list {
        display: flex;
        overflow-x: auto;
        display: flex;
        margin: 0 auto;
        flex-flow: row;
        align-items: center;
        &-item {
            text-align: center;
            width: 145px;
            height: 130px;
            margin: 10px 0px;
            padding-top: 0px;
            font-size: 30px;
            overflow: hidden;
            .item-date {
                font-size: 32px;
                color: #333;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
                line-height: 44px;
            }
            .item-status {
                font-weight: 400;
                margin-top: 10px;
                height: 34px;
                display: inline-block;
                padding: 0px 10px;
                line-height: 34px;
                min-width: 32px;
                font-size: 24px;
                border-radius: 17px;
            }
        }
    }
    .content-box {}
    &-head {
        text-align: center;
        height: 380px;
        background-image: url('../../../assets/special/second_top_bg.png');
        background-size: 100% 380px;
        background-repeat: no-repeat;
        padding-top: 184px;
        font-size: 30px;
        .total-box {
            margin: 0 auto;
            color: #FF2F7B;
            font-size: 36px;
            padding: 0px 20px;
            display: inline-block;
            height: 46px;
            background: linear-gradient(180deg, rgba(255, 247, 238, 1) 0%, rgba(255, 222, 199, 1) 100%);
            border-radius: 23px;
            &-num {
                line-height: 46px;
            }
            &-words {
                font-size: 26px;
                color: #333;
                padding-left: 10px;
                padding-top: 7px;
            }
        }
        .count-down-box {
            height: 200px;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            font-size: 24px;
        }
    }
}