@import '../../styles/theme.scss';
.utp-settimer {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  &-re {
    position: relative;
    // z-index: 1;
  }
  &-type3{
    font-size: 28px;
    color:#fff;
    font-weight: 500;
  }
  &-box {
    position: relative;
    z-index: 1;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 4px;
    opacity: 0.9;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-txt {
      font-size: 28px;
      color: #ff2f3d;
      text-align: center;
      font-weight: 500;
    }

  }
  &-lableBox {
    position: relative;
    z-index: 1;
    &-lable {
      font-size: 24px;
      color: $color-low;
      font-weight: 500;
    }
  }
}
