.logis-box {
    min-height: 100%;
    background-color: #F5F5F5;
    font-size: 30px;
    .head-info {
        min-height: 300px;
        background: #fff;
        margin-top: 30px;
        .head-title {
            background: #FF2F7B;
            color: #fff;
            padding: 20px;
        }
        .head-content {
            padding: 30px;
            font-size: 28px;
            color: #666;
        }
    }
    .list-box {
        margin-top: 30px;
        min-height: 400px;
        .list-head {
            background: #FF2F7B;
            color: #fff;
            padding: 20px;
        }
        .list-content {
            padding: 20px;
        }
        .list-item {
            margin-top: 20px;
            padding: 30px;
            background: #fff;
            border-radius: 20px;
            min-height: 100px;
            .time {
                color: #333;
                font-size: 30px;
            }
            .content {
                color: #666;
                margin-top: 10px;
            }
            .tag {
                margin-right: 20px;
                width: 25px;
                display: inline-block;
                height: 25px;
                border-radius: 50%;
                background: #FF2F7B;
            }
        }
    }
}