@import '../../../styles/theme.scss';
.utp-integral-voucher {
  min-height: 100%;
  background:rgba(245,245,245,1);
  padding-bottom: 100px;
  .utp-integral-voucher-imgBox {
    height: 750px;
    width: 100%;
    position: relative;
    .utp-integral-voucher-imgBox-index {
      height: 750px;
      width: 100%;
      .utp-integral-voucher-imgBox-index-img {
        height: 750px;
        width: 100%;
      }
    }
    .utp-integral-voucher-imgBox-pedometer {
      width:60px;
      height:60px;
      background:rgba(0,0,0,0.2);
      opacity: 0.8;
      position: absolute;
      border-radius: 50%;
      right: 30px;
      bottom: 30px;
      font-size:22px;
      font-family: $font-family1;
      font-weight:400;
      color:rgba(255,255,255,1);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100
    }
  }
  .utp-integral-voucher-good {
    width:750px;
    height:136px;
    background:rgba(255,255,255,1);
    padding: 20px;
    display: flex;
    .utp-integral-voucher-good-name {
      width:542px;
      height:96px;
      font-size:34px;
      font-family:$font-family1;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:42px;
      @include lamp-clamp(2);
    }
    .utp-integral-voucher-good-sales {
      height: 100%;
      display: flex;
      align-items: center;
      font-size:28px;
      font-family:$font-family1;
      font-weight:400;
      color: $color-low;
      margin-left: 30px;
      .utp-integral-voucher-good-sales-num {
        color: #FF2F7B;
        margin-left: 10px;
      }
    }
  }
  .utp-integral-voucher-store {
    margin-top: 20px;
    height: 178px;
    background:rgba(255,255,255,1);
    display: flex;
    padding: 30px 0 30px 20px;
    display: flex;
    .utp-integral-voucher-store-message {
      font-family:$font-family1;
      width: 596px;
      padding-right: 24px;
      border-right: 1px solid #F5F5F5;
      .utp-integral-voucher-store-message-name {
        font-size:28px;
        font-weight:500;
        color:$color-deep;
      }
      .utp-integral-voucher-store-message-address {
        font-size:24px;
        font-weight:400;
        color:$color-normal;
        height: 68px;
        @include lamp-clamp(2);
      }
    }
    .utp-integral-voucher-store-call {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      .utp-integral-voucher-store-call-img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .utp-integral-voucher-message {
    margin-top: 20px;
    background:rgba(255,255,255,1);
    padding: 0 20px 20px;
    .utp-integral-voucher-message-box {
      padding-top: 30px;
      font-family:$font-family1;
      .utp-integral-voucher-message-box-title {
        font-size:28px;
        font-weight:400;
        color:$color-deep;
        height:40px;
        line-height: 40px;
      }
      .utp-integral-voucher-message-box-field {
        min-height:34px;
        font-size:24px;
        font-weight:400;
        color:$color-normal;
        line-height:34px;
        margin-top: 10px;
      }
    }
  }
  .utp-integral-voucher-bottom {
    position: fixed;
    height:100px;
    background:rgba(255,47,123,1);
    width: 100%;
    font-size: 30px;
    font-family: $font-family2;
    font-weight: 500;
    color:rgba(255,255,255,1);
    bottom: 0;
    .utp-integral-voucher-bottom-lable {
      height:90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .swiper-container {
    height: auto;
  }
}