@import '../../../styles/theme.scss';

.utp-bd-page {
  background-color: #f5f5f5;
  padding: 0 20px;
}

.utp-txt-time {
  margin: 36px;
}

.utp-msgNav {
  background-color: #f5f5f5;
  padding: 22px;
  &-content {
    background-color: $bgColor-normal;
    padding: 36px;
    border-radius: 16px;

    &-onlytext {
      .utp-msgNav-msgInfo-text-1 {
        margin-top: 12px;
      }
    }
  }

  &-msgInfo {
    margin-top: 12px;

    &-text {
      font-size: 28px;
      color: $color-deep;
      flex: 1;
      margin-left: 20px;
      @include lamp-clamp(4);
    }

    &-text-1 {
      margin-left: 0;
    }

    &-hasBigImg {
      width: 100%;
      height: 100%;
    }

    &-bigImg {
      width: 100%;
    }
  }
}

.taro-img__mode-scaletofill {
  border-radius: 12px;
}

.utp-msgNav-content-bigImgContent {
  background-color: $bgColor-normal;
  border-radius: 16px;
  padding-bottom: 36px;
  // margin-bottom: 36px;

  .utp-msgNav-msgInfo-text {
    margin-left: 36px;
    margin-top: 12px;
  }

  .taro-text {
    margin-left: 36px;
    margin-right: 36px;
  }

  .taro-img__mode-scaletofill {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
// .utp-msgNav-msgInfo-text {
//   margin-left: 0.1px;
// }
