//倒计时默认样式
.count-down {
    font-size: 28px;
    color: #fff;
    text-align: center;
    &-item {
        min-width: 40px;
        line-height: 40px;
        text-align: center;
        padding: 5px 10px;
        margin: 0 10px 0 10px;
        background: #333;
        border-radius: 10px;
        color: #fff;
        &-end {
            //  color: red($color: #000000);
        }
    }
}