@import '../../../styles/theme.scss';
.utp-setting {
  &-box {
    margin-bottom: 22px;
  }
  &-btns {
    height: 100px;
    background-color: $bgColor-normal;
  }
}
.taro_page {
  background-color: #f5f5f5;
}
