@import '../../styles/theme.scss';
.utp-goodscan {
  margin-top: 20px;
  padding: 0 20px;
  background: $bgColor-normal;
}
.utp-goodscan-box {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
.utp-goodscan-i {
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-color: #f3f3f3;
  margin-right: 20px;
}
.utp-goodscan-img {
  width: 200px;
  height: 200px;
}
.utp-goodscan-titles {
  max-height: 90px;
  width: 100%;
}
.utp-goodscan-title {
  color: #3c3c3c;
  font-size: 26px;
  line-height: 40px;

  /*  #ifdef h5  */
  /*  #endif  */
}
.utp-goodscan-pricebox {
  width: 100%;
}
