// .utp-bd {
//   position: relative;
// }

.utp-myMember {
  &-bgWrap {
    width: 100%;
    height: 364px;
  }

  &-content {
    // height: 500px;
    margin-top: -140px;

    &-tel {
      width: 500px;
    }
  }
}
