.integral-mall {
    background: #f5f5f5;
    height: 100%;
    position: relative;
    //padding: 0 20px;
    padding-top: 88px;
    &-top {
        position: absolute;
        top: -88px;
        left: 0;
        right: 0;
        width: 100%;
        height: 360px;
    }
    .integral-content {
        padding: 0 20px;
    }
}