@import '../../../styles/theme.scss';
$basecolor: $color-deep;
$color: $color-active;
.utp-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
@mixin fontStyle($size: 28px, $color: rgba(51, 51, 51, 1), $weight: 400) {
  font-family: PingFangSC-Regular, 'PingFang SC', 'Noto Sans CJK', 'Source Han Sans',
    'Microsoft Yahei', Arial, source-han-sans-simplified-c, sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
.utp-assemble {
  position: relative;
  height: 212px;
  padding: 20px;
  justify-content: flex-start;
  background-color: #fbfbfb;
  border-radius: 12px;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}

/*  #endif  */
.utp-assemble-i {
  width: 170px;
  height: 170px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #f3f3f3;
}

.utp-assemble-img {
  width: 170px;
  height: 170px;
}

.utp-assemble-item {
  flex: 1;
  position: relative;
  height: 100%;
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.utp-assemble-moneys {
  display: flex;
}

.utp-assemble-money {
  @include fontStyle(30px, $color, 500);
}
.utp-assemble-titles {
  height: 176px;
  position: relative;
}
.utp-assemble-title {
  @include fontStyle(32px);
  line-height: 42px;
  @include lamp-clamp(2);
}
.utp-assemble-price {
  @include fontStyle(26px, #999);
}

.utp-assemble-ft {
  justify-content: space-between;
  position: relative;
  height: 42px;
  @include fontStyle(30px, #666);
}
