@import '../../../styles/theme.scss';

.utp-management {
  &-follow {
    height: 64px;
    width: 100%;
    // background-color: lightcoral;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;

    &-left {
      font-size: 28px;
      font-weight: bold;
      color: $color-deep;
      line-height: 64px;
    }

    &-right {
      font-size: 26px;
      color: #25a6fa;
      line-height: 64px;
    }
    &-center {
      flex: 1;
      font-size: 26px;
      color: #25a6fa;
      line-height: 64px;
      margin-left: 40px;
      margin-right: 40px;
      overflow-x: scroll;
      display: flex;
    }
  }

  &-Recommend {
    font-size: 32px;
    color: $color-deep;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  &-ImgBox {
    height: 254px;
    width: 100%;
    // background-color: lightsalmon;
    padding-left: 20px;
    display: flex;
    overflow: scroll;

    &-info {
      height: 100%;
      width: 196px;
      background-color: #fafafa;
      margin-right: 20px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &-text1 {
      font-size: 28px;
      color: $color-deep;
      font-weight: bold;
      text-align: center;
      @include lamp-clamp(1);
    }
    &-text2 {
      font-size: 22px;
      color: $color-normal;
      text-align: center;
      padding-left: 26px;
      padding-right: 26px;
      @include lamp-clamp(1);
    }
  }

  &-businessSort {
    height: 112px;
    width: 100%;
    background-color: $bgColor-normal;
    display: flex;
    align-items: center;
    overflow: scroll;

    &-storeName,
    &-storeName-active {
      font-size: 30px;
      color: $color-low;
      position: relative;
      flex-shrink: 0;
      margin-left: 40px;
    }
    &-storeName-active {
      color: $color-deep;
      font-weight: bold;
    }

    &-storeName-active::after {
      display: block;
      /*postcss-pxtransform rn eject enable*/
      content: '';
      /*postcss-pxtransform rn eject disable*/
      width: 60px;
      height: 4px;
      background-color: $color-deep;
      border-radius: 5px;
      z-index: 1;
      position: absolute;
      left: 50%;
      /*postcss-pxtransform rn eject enable*/
      transform: translateX(-50%);
      /*postcss-pxtransform rn eject disable*/
    }
  }

  &-businessInfoBox {
    width: 100%;
    flex: 1;
  }

  &-businessInfo {
    height: 160px;
    width: 100%;
    // background-color: lightsalmon;
    padding-left: 20px;

    &-textBox {
      flex: 1;
    }

    &-text1 {
      font-size: 28px;
      color: $color-deep;
      font-weight: bold;
      text-align: center;
      @include lamp-clamp(1);
    }
    &-text2 {
      font-size: 22px;
      color: $color-normal;
      text-align: center;
      padding-left: 26px;
      padding-right: 26px;
      @include lamp-clamp(1);
    }

    &-Btn {
      width: 120px;
      height: 60px;
      color: $color-active;
      background-color: $bgColor-normal;
      border-top: 2px solid $color-active;
      border-bottom: 2px solid $color-active;
      border-left: 2px solid $color-active;
      border-right: 2px solid $color-active;
      line-height: 60px;
      font-size: 26px;
      text-align: center;
      border-radius: 34px;
      margin-right: 20px;
    }
  }
}
