@import '../../../styles/theme.scss';
.utp-safe {
    background: #f5f5f5;
}

.pup-box {
    position: absolute;
    top: 0;
    z-index: 111;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}

.refund-detail {
    width: 750px;
    background: #f5f5f5;
    margin: 0 auto;
    padding-bottom: 120px;
    .sel-pup {
        z-index: 55;
        position: relative;
        width: 100%;
        height: 100vh;
        .btn-box {
            width: 750px;
            height: 100px;
            position: absolute;
            bottom: 50px;
        }
        .pup-btn {
            width: 590px;
            line-height: 72px;
            height: 72px;
            text-align: center;
            margin: 0 auto;
            font-size: 30px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            background-image: linear-gradient(to right, #FF2F3D, #FF00E8);
            border-radius: 50px;
        }
    }
    .btn-item {
        font-size: 28px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        background: rgba(255, 47, 123, 1);
        display: inline-block;
        padding: 8px 20px;
        border-radius: 30px;
        min-width: 160px;
        text-align: center;
        margin-left: 20px;
    }
    background: #f5f5f5;
    font-size: 30px;
    .refund-detail-head {
        width: 750px;
        height: 166px;
        padding: 40px 30px;
        background: linear-gradient(90deg, rgba(255, 47, 61, 1) 0%, rgba(255, 16, 176, 1) 100%);
        .refund-detail-head-title {
            height: 50px;
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            line-height: 50px;
        }
    }
    &-content {
        padding: 20px;
        width: 750px;
        background: #fff;
        padding: 30px;
        .reason-item {
            color: #333;
            font-size: 28px;
        }
        .content-title {
            width: 640px;
            margin-top: 20px;
            font-size: 30px;
            font-weight: 500;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #333;
            line-height: 42px;
        }
        .text-tag {
            width: 10px;
            height: 15px;
            display: inline-block;
            line-height: 20px;
            margin-right: 10px;
            position: relative;
            border-radius: 50%;
            .tag {
                position: absolute;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 0px;
                background: #999;
            }
        }
        .text {
            color: 28px;
            font-size: 28px;
            width: 640px;
            line-height: 48px;
        }
        .text-item {
            color: #999;
            margin-top: 5px;
        }
    }
    .history {
        width: 750px;
        padding: 27px 25px;
        height: 100px;
        padding-top: px;
        // line-height: 100px;
        background: #fff;
        margin-top: 15px;
        .text {
            width: 112px;
            height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 40px;
        }
    }
    .goods-info {
        margin-top: 15px;
        width: 750px;
        background: #fff;
    }
    .refund-info {
        padding: 20px;
        font-size: 28px;
        color: #333;
        font-weight: 400;
        line-height: 40px;
        .info-item {
            margin-top: 8px;
        }
    }
    .fixed-bom {
        width: 750px;
        height: 100px;
        background: rgba(255, 255, 255, 1);
        border-top: 1px solid #eee;
        position: fixed;
        bottom: 0;
        text-align: right;
        padding: 20px;
    }
}