@import '../../../styles/theme.scss';
$basecolor: $color-deep;
$color: $color-active;
.utp-flex1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
@mixin fontStyle($size: 28px, $color: rgba(51, 51, 51, 1), $weight: 400) {
  font-family: PingFangSC-Regular, 'PingFang SC', 'Noto Sans CJK', 'Source Han Sans',
    'Microsoft Yahei', Arial, source-han-sans-simplified-c, sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
.utp-product {
  position: relative;
  height: 320px;
  padding: 30px 30px 20px 40px;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: $bgColor-normal;
  &-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    height: 96px;
  }
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
// .utp-product

/*  #endif  */
.utp-product-i {
  width: 170px;
  height: 170px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #f3f3f3;
}

.utp-product-img {
  width: 170px;
  height: 170px;
}

.utp-product-item {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.utp-product-moneys {
  display: flex;
}

.utp-product-money {
  color: $color;
  font-weight: bold;
}
.utp-product-titles {
  padding: 10px 0;
  width: 340px;
  height: 176px;
  position: relative;
  @include fontStyle(26px);
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.utp-product-title {
  @include lamp-clamp(2);
}
.utp-product-people {
  @include fontStyle(28px, $basecolor, 500);
  line-height: 40px;
}
.utp-product-price {
  flex: 1;
  text-align: right;
  @include fontStyle(28px, $color, 600);
  line-height: 40px;
  justify-content: flex-end;
}
.utp-product-btn {
  width: 100%;
  flex: 1;
  justify-content: flex-end;
}
.utp-product-btnitem {
  width: 152px;
  height: 60px;
  justify-content: center;
  border-radius: 32px;
  border-width: 1px;
  border-color: $color;
  @include fontStyle(24px, $color);
  margin-left: 20px;
}
