@import '../../styles/theme.scss';
.utp-swipe {
  position: relative;
  width: 100%;
  &-item {
    &-1 {
    }
    &-2 {
    }
    &-3 {
    }
  }
  .swiper-container {
    height: 100%;
  }
  &-icos {
    position: absolute;
    z-index: 2;
    bottom: 60px;
    height: 6px;
    right: 200px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    &-ico {
      width: 16px;
      height: 6px;
      margin-right: 6px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.5);
      &-crt {
        width: 24px;
        height: 6px;
        background-color: #fff;
      }
    }
  }
}
