@import '../../../styles/theme.scss';
.utp-cashier {
  padding-bottom: 80px;
  &-price {
    padding-top: 40px;
    padding-bottom: 50px;
    height: 240px;
  }
  &-method {
    padding-left: 40px;
    padding-right: 40px;
    height: 140px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-adv {
    width: 690px;
    height: 280px;
    margin: 30px auto;
  }
  &-btn {
    margin-top: 92px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
