@import '../../styles/theme.scss';
.utp-search-store {
  padding-top:20px;
  background-color: $bgColor-normal;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &-hd {
    min-height: 120px;
    padding-left: 20px;
    margin-bottom: 20px;
    &-txt{
      font-weight: 500;;
      font-size: 32px;
      height: 44px;
      line-height: 44px;
      color: $color-deep;
      @include text-ellipsis();
    }
    &-imgs {
      width: 90px;
      height: 90px;
      margin-right: 20px;
      border-radius: 90px;
      overflow: hidden;
    }
    &-item {
      width:100%;
      flex: 1;
      padding-right:10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content:space-between;
    
    }
    &-itemspe{
      flex-direction: column;
      justify-content: space-between;
    }
    &-item1{
      width:100%;
      flex: 1;
      min-height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    &-titles {
      height: 44px;
    }
    &-tips {
      height: 34px;
    }
    &-concern{
      border: 1px solid #ccc;
      width: 120px;
      border-radius: 26px;
    }
    &-unconcern{
      border: 1px solid $color-active;
      width: 120px;
      border-radius: 26px;
    }
    &-label{
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      position: relative;
      margin-left:6px;
    }
    &-labelbefore{
      position: absolute;
      height:12px;
      width:1px;
      background: #eee;
      top:0;
      left:0;
      bottom: 0;
      margin: auto;
    }
  }
  &-bd {
    padding-left: 20px;
    padding-right: 20px;
    &-labelsbox{
      padding-left:8px;
      padding-right:8px;
      margin-right:10px;
      background: #FFF7E1;
      color:#FF9D00;
      font-size: 24px;
      height: 32px;
      line-height: 32px;
    }
    &-imgs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    &-img {
      position: relative;
      width: 210px;
      height: 210px;
      border-width: 1px;
      border-radius: 3px;
      border-color: #f8f8f8;
      &-money {
        color: #fff;
        font-size: 24px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 96px;
        height: 28px;
        background-color: #8d8e8f;
      }
    }
  }
  &-ft {
    padding-left: 20px;
    padding-right: 20px;
    height: 44px;
    &-card{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      height: 44px;
      overflow: hidden;
      @include text-ellipsis();
      flex:1;
      &-items{
        height: 40px;
        font-size: 20px;
        color: $color-active;
        border: 1px solid $color-active;
        padding: 4px 8px;
        background: #fff5f9;
        margin-top: 4px;
        margin-left: 10px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
