@import '../../../styles/theme.scss';

.utp-integral {
  background:rgba(238,229,223,1);
  width: 100%;
  min-height: 100%;
  &-part1 {
    width: 100%;
    height: 616px;
    position: relative;
    background: url('../../../assets//integral/bg_integral.png') no-repeat;
    background-size: 100% 100%;
    &-myIntegral {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      width: 448px;
      display: flex;
      justify-content: space-between;
      &-img {
        width: 80px;
        height: 80px;
        position: absolute;
        left: -80px;
        bottom: -18px;
      }

      &-text {
        font-size: 100px;
        color: #fff;
        font-weight: bold;
        line-height: 80px;
      }
      &-now {
        color:rgba(255,239,230,1);
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
          font-size:28px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
        }
        &-num {
          font-size:60px;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;
        }
      }
    }

    &-rule {
      // background-color: yellow;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &-bg {
        background: url('../../../assets/integral/bg_jifenguize.png') no-repeat;
        background-size: 100% 100%;
        width: 212px;
        height: 50px;
        font-size: 24px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
      }
    }
  }

  &-part2 {
    width: 710px;
    height: 229px;
    background: url('../../../assets/integral/bg_integral_2.png') 100% no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -186px;
    position: relative;
    border-radius: 30px;
  }

  &-part3 {
    // background-color: yellow;
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
      font-size:44px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(113,85,69,1);
      width: 308px;
      height: 53px;
      margin: 0 auto;
      margin-top: 43px;
      margin-bottom: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url('../../../assets/integral/bg_business.png') no-repeat;
      background-size: 100% 100%;
    }

    &-goods {
      width: 348px;
      height: 546px;
      background-color: $bgColor-normal;
      padding: 12px;
      margin-bottom: 14px;
      border-radius: 12px;
    }

    &-goodsTitle {
      min-height: 88px;
      font-size: 28px;
      color: $color-deep;
      margin-top: 20px;
      margin-bottom: 20px;
      @include lamp-clamp(2);
    }

    &-price {
      color: #ff4a2a;
      font-size: 28px;
    }
    &-markPrice {
      color: $color-normal;
      font-size: 24px;
    }
  }

  &-hideRule {
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    z-index: 100;
    position: fixed;

    &-closeBtn {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 30px;
      top: 30px;
    }

    &-ruleInfo {
      background-color: $bgColor-normal;
      height: 1000px;
      padding: 30px;
      z-index: 101;
      position: absolute;
      bottom: 0;
    }

    &-ruleInfo-title {
      width: 100%;
      font-weight: bold;
      font-size: 32px;
      color: $color-deep;
      text-align: center;
      margin-bottom: 30px;
    }

    &-ruleInfo-content {
      width: 100%;
      font-size: 26px;
      color: $color-deep;
    }

    &-hidden {
      display: none;
    }
  }
}
