@import '../../../styles/theme.scss';
.utp-page-address {
  &-bd {
    margin-bottom: 170px;
    background-color: #ffffff;
    min-height: 100vh;
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    background-color: #ffffff;
  }
}
