.goodsCard {
    padding: 16px;
    background-color: #fff;
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 14px);
    height: 536px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 14px;
    line-height: 1;
    position: relative;
    vertical-align: top;
    margin-bottom: 14px;
    &-logo {
        width: 100%;
        height: 316px;
        background: rgba(233, 233, 233, 1);
        border-radius: 12px;
        margin-bottom: 12px;
    }
    &-selfTag {
        position: absolute;
        top: 350px;
        left: 16px;
        display: inline-block;
        padding: 2px 4px;
        background: linear-gradient(90deg, rgba(255, 47, 61, 1) 0%, rgba(255, 16, 176, 1) 100%);
        border-radius: 4px;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
    }
    &-title {
        font-size: 28px;
        line-height: 36px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &-tag {
        display: inline-block;
        color: #ff2f3d;
        padding: 4px 6px;
        font-size: 22px;
        border-radius: 4px;
        border: 1px solid rgba(255, 47, 61, 1);
        position: absolute;
        bottom: 65px;
        left: 16px;
    }
    &-lightningTag {
        height: 32px;
        border-radius: 4px;
        border: 1px solid #25a6fa;
        position: absolute;
        bottom: 65px;
        left: 16px;
        background: #fff;
        padding-right: 6px;
        &-icon {
            width: 32px;
            height: 100%;
            background: #25a6fa;
            vertical-align: top;
            float: left;
            margin-right: 6px;
        }
        &-text {
            float: left;
            font-size: 22px;
            color: #25a6fa;
            height: 28px;
            line-height: 32px;
            text-align: center;
        }
    }
    &-salePrice {
        display: inline-block;
        font-size: 34px;
        font-weight: 500;
        color: rgba(255, 47, 123, 1);
        line-height: 42px;
    }
    &-salePrice::before {
        content: '¥';
        font-size: 22px;
        line-height: 30px;
    }
    &-originPrice {
        margin-left: 10px;
        display: inline-block;
        text-decoration: line-through;
        font-size: 24px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 24px;
    }
    &-add {
        position: absolute;
        right: 22px;
        bottom: 16px;
    }
}

.goodsCard:nth-child(2n) {
    margin-right: 0;
}