@import '../../../styles/theme.scss';
.utp-pay {
  &-btn {
    width: 320px;
    margin-top: 120px;
  }
  &-btnbox {
    margin-top: 120px;
    width: 572px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-btn2 {
    width: 256px;
  }
  &-img {
    margin-top: 120px;
    margin-bottom: 42px;
  }
}
