@import '../../../../styles/theme.scss';
.input-num {
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input {
        text-align: center;
        font-size: 24px;
    }
    .utp-step {
        background: #fff;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        &-num {
            width: 90px;
            height: 40px;
            margin: 0 10px 0 10px;
            font-size: 28px;
            color: rgba(51, 51, 51, 1);
        }
        &-img {
            width: 20px;
            height: 20px;
        }
        &-minus {
            width: 48px;
            height: 48px;
            border-radius: 4px;
            border: 2px solid rgba(238, 238, 238, 1);
        }
        &-add {
            width: 48px;
            height: 48px;
            border-radius: 4px;
            background-color: #fff5f9;
        }
    }
}