@import '../../styles/theme.scss';
.utp-goods3s {
  box-sizing: border-box;
  width: 230px;
  height:100%;
  background-color: $bgColor-normal;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  // margin-bottom: 14px;
}
.utp-goods3 {
  position: relative;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
.utp-goods3-i {
  width: 210px;
  height: 210px;
  border-radius: 8px;
  margin-bottom: 10px;
  //border-style: solid;
}
.utp-goods3-img {
  width: 100%;
  height: 100%;
}
// .utp-goods3-item {
// }
.utp-goods3-titles {
  height: 67px;
  position: relative;
  margin-bottom: 12px;
  &-tag {
    position: absolute;
    left: 0;
    top: 4px;
  }
}
.utp-goods3-title {
  color: $color-deep;
  font-size: 26px;
  line-height: 32px;
  /*postcss-pxtransform rn eject enable*/
  // text-indent: 64px;
  /*postcss-pxtransform rn eject disable*/
  @include lamp-clamp(2);

  /*  #ifdef h5  */
  /*  #endif  */
}

.utp-goods3-ft {
  height: 36px;
  &-1 {
    height: 30px;
  }
  &-money{
    height: 32px;
    font-size: 22px;
    color:$color-low;
    text-decoration: line-through;
  }
}
.utp-goods3-moneys {
  margin-right: 10px;
  font-size: 28px;
  color:$color-active;
}
.utp-goods3-money {
  color: $color-active;
  line-height: 40px;
  font-size: 30px;
  &-1 {
    color: $color-low;
    font-size: 24px;
    /*postcss-pxtransform rn eject enable*/
    text-decoration: line-through;
    /*postcss-pxtransform rn eject disable*/
  }
}
.utp-goods3-add {
  width: 36px;
  height: 36px;
  background-color: #fff5f9;
  margin-right: 8px;
}
.utp-goods3-add-ico {
  width: 36px;
  height: 36px;
}
.utp-goods3-hidden{
 visibility: hidden;
}
.utp-goods3-indent{
  text-indent: 64px;
}
