@import '../../styles/theme.scss';
.utp-tab {
  &-box {
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    line-height: 80px;
    background: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &-1 {
      position: static;
      background: #ffffff;
    }
    &-item {
      height: 100%;
      font-size: 28px;
      color: $color-low;
    }
    &-active {
      color: $color-deep;
      font-weight: 500;
      border-bottom: 4px solid $color-deep;
    }
  }
  &-bd {
    margin-top: 80px;
    &-1 {
      margin-top: 0px;
    }
  }
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
