@import '../../../styles/theme.scss';

.utp-evaluate {
  &-infoBox {
    height: 100%;
    width: 100%;
  }
  &-evaluateImgBox{
    position: relative;
  }
  &-del{
    position: absolute;
    top:-10px;
    right: -10px;
    width: 50px;
    height: 50px;
    z-index: 1;
  }
  &-goodsInfo {
    height: 220px;
    width: 100%;

    border-bottom: 1px solid #f5f5f5;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  &-evaluateContent {
    height: 362px;
    width: 100%;
    // background-color: lightcoral;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    &-text {
      font-size: 28px;
      color: $color-deep;
      height: 100%;
      width: 100%;
      resize: none;
      border: none;
      outline: none;
      background: transparent;
      border-color: transparent;
    }
  }

  &-evaluateImg {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    // background-color: mediumorchid;
  }

  &-titlesBox {
    width: calc(100% - 200px);
    margin-left: 20px;
    height: 220px;
  }

  &-titles {
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    @include lamp-clamp(2);
  }
  &-btn{
    width:100%;
    padding:80px;
  }
}
