@import '../../styles/theme.scss';
.utp-cart-sub {
  position: relative;
  height: 100px;
  background-color: $bgColor-normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 20px;
  &-icos {
    width: 60px;
    height: 100%;
  }
  &-box {
    width: 186px;
    margin-left: 30px;
  }
  &-price{
    font-size:28px;
    color:$color-active;
  }
}
.taro-img {
  /*postcss-pxtransform rn eject enable*/
  display: block;
  /*postcss-pxtransform rn eject disable*/
}
