@import '../../../styles/theme.scss';
.utp-cate-r {
  position: absolute;
  top: 96px;
  width: 544px;
  right: 10px;
  bottom: 0;
  background: #ffffff;
}

.utp-cate {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.utp-cate-act {
  background: #fff;
}
.utp-cate-g {
  width: 6px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 9999px;
  background: $color-active;
}
.utp-cate-g-crt {
  left: 0;
}
.utp-txt {
  font-size: 28px;
  color: $color-low;
}
.utp-txt-crt {
  color: $color-deep;
}
.utp-cates {
  background: $bgColor-normal;
  margin-bottom: 10px;
}
.utp-cate-menu {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.utp-txt-menu {
  font-size: 24px;
  color: #333;
  font-weight: 500;
}
.utp-cate-ads {
  padding-left: 20px;
}
.utp-cate1s {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.utp-cate1-cates {
  padding-left: 20px;
}
.utp-cate1 {
  width: 160px;
  margin-bottom: 6px;
  margin-right: 4px;
  overflow: hidden;
}
.utp-cate1-i {
  height: 160px;
  overflow: hidden;
}
.utp-cate1-img {
  height: 160px;
  width: 160px;
}
.utp-cate1-t {
  height: 42px;
}
.utp-txt-tt {
  font-size: 20px;
  color: #424242;
}
