@import '../../styles/theme.scss';
.utp-bingmoblie {
  background-color: #ffffff;
  min-height: 100%;
  padding: 58px 90px 0;
  .utp-bingmoblie-title {
    font-size:50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color: $color-deep;
  }
  .utp-bingmobile-input {
    margin-top: 40px;
    .utp-bingmobile-input-div {
      height: 114px;
      border-bottom: 1px solid rgba(204, 204, 204, 1);
      display: flex;
      align-items: center;
      position: relative;
      input {
        border: none;
        height: 80px;
        width: 90%;
        font-size: 40px;
      }
      input::-webkit-input-placeholder {
        font-size: 28px;
        font-family: $font-family1;
        font-weight: 400;
        color: $color-low;
      }
      .utp-bingmobile-input-div-img {
        width: 44px;
        height: 44px;
        img {
          width: 44px;
          height: 44px;
          position: absolute;
          right: 0;
        }
      }
     
      .utp-bingmobile-input-authCode-right {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        .utp-bingmobile-input-authCode-right-icon {
          width: 44px;
          height: 44px;
          position: relative;
          right: 20px;
        }
        .utp-bingmobile-input-authCode-right-getCode {
          min-width: 180px;
          height: 56px;
          border-radius: 100px;
          border: 2px solid $color-low;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          font-family: $font-family1;
          font-weight: 400;
          color: $color-low;
          padding: 0 20px;
        }
        .highColor {
          color: rgba(255, 47, 123, 1);
          border: 2px solid rgba(255, 47, 123, 1);
        }
      }
    }
  }
  .utp-bingmobile-button {
    width: 570px;
    height: 100px;
    background: rgba(221, 221, 221, 1);
    border-radius:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-top: 52px;
  }
  .bottonHigh {
    background: linear-gradient(
      90deg,
      rgba(255, 47, 61, 1) 0%,
      rgba(255, 0, 232, 1) 100%
    );
  }
}