@import '../../../styles/theme.scss';
.utp-canbonce {
  &-body {
    min-height: 100vh;
    background-color: #eee5e0;
    padding-top: 20px;
    padding-bottom: 170px;
    &-tips {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 16px;
      padding-bottom: 32px;
      &-box {
      }
      &-txt {
        font-size: 20px;
        font-weight: 400;
        color: rgba(129, 105, 88, 1);
        line-height: 22px;
        text-align: center;
      }
    }
    &-wrap {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }
    &-box {
      width: 344px;
      height: 400px;
      border-radius: 10px;
      background-color: #fff;
      position: relative;
      &-tips {
        position: absolute;
        z-index: 1;
        bottom: 110px;
        left: 0;
        right: 0;
        &-txt {
          font-size: 20px;
          font-weight: 400;
          color: rgba(129, 105, 88, 1);
          line-height: 22px;
          text-align: center;
        }
      }
    }
  }
  &-ft {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 80px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #eee5e0;
  }
}
.taro-img {
  /*postcss-pxtransform rn eject enable*/
  display: block;
  /*postcss-pxtransform rn eject disable*/
}
