@import '../../styles/theme.scss';
.utp-index4 {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  &-set {
    position: relative;
    &-ico {
      height: 100%;
      width: 80px;
    }
    &-set {
      width: 48px;
      height: 48px;
    }
    &-set1 {
      width: 48px;
      height: 48px;
    }
  }

  &-likes {
    height: 134px;
    padding-left: 25px;
    padding-right: 25px;
  }
  &-jifen {
    width: 710px;
    height: 140px;
    background-color: #222930;
    border-radius: 18px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    bottom: 0;
    &-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-2 {
      position: relative;
      z-index: 1;
      padding-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      justify-content: flex-start;
    }
    &-box {
      width: 33.33%;
      height: 88px;
      position: relative;
      &-gang {
        position: absolute;
        right: 8px;
        top: 10px;
        width: 1px;
        height: 66px;
        background-color: #404b56;
      }
    }
    &-titles {
      margin-left: 4px;
      &-txt {
        font-size: 24px;
        color: #ffefe6;
        line-height: 34px;
        &-1 {
          line-height: 36px;
          font-size: 28px;
        }
      }
    }
  }
}
// .utp-index4 {
// }

.utp-users {
  padding-top: 98px;
  height: 532px;
  position: relative;
}
.utp-users-a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.utp-user {
  position: relative;
  height: 160px;
}
.utp-users-i {
  width: 100%;
  height: 100%;
}
.utp-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.utp-flex-b {
  justify-content: space-between;
  flex-wrap: nowrap;
}
.utp-flex-db {
  justify-content: flex-start;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.utp-user-i {
  width: 164px;
  height: 164px;
  margin-left: 14px;
  position: relative;
  &-1 {
    position: absolute;
    z-index: 1;
    width: 128px;
    height: 64px;
    bottom: 0;
    left: 16px;
  }
  &-b {
    position: absolute;
    width: 106px;
    height: 106px;
    top: 29px;
    left: 29px;
  }
}
.utp-user-ii {
  width: 106px;
  height: 106px;
  border-width: 1px;
  border-radius: 108px;
  //border-style: solid;
  border-color: #000;
  position: relative;
}
.utp-user-img {
  width: 108px;
  height: 108px;
  border-radius: 108px;
}
.utp-names {
  margin-left: 6px;
  flex: 1;
}
.utp-name {
  font-size: 34px;
  color: #424242;
  margin-bottom: 10px;
}
.utp-phone {
  font-size: 26px;
  color: $color-normal;
}
.utp-user-d {
  margin-top: -74px;
}

.utp-icos {
  margin-bottom: 20px;
  background-color: $bgColor-normal;
  border-radius: 5px;
}
.utp-ico {
  width: 20%;
  position: relative;
}
.utp-ico-1 {
  width: 25%;
}
.utp-ico-gang {
  width: 1px;
  height: 66px;
  background: #f4f4f4;
  position: absolute;
  right: 0;
  top: 49px;
}
.utp-ico-i {
  margin-bottom: 10px;
}
.utp-ico-img {
  width: 84px;
  height: 84px;
}
.utp-ico-t {
  height: 26px;
}
.utp-ico-tt {
  font-size: 24px;
  color: $color-deep;
}
.utp-ico-tt-1 {
  color: $color-normal;
}
.utp-ico-tt1 {
  font-size: 40px;
  color: $color-deep;
}
.utp-th {
  border-width: 0;
  height: 80px;
  padding-left: 26px;
  padding-right: 20px;
  border-bottom-width: 1px;
  border-color: #f4f4f4;
  //border-style: solid;
}
.utp-txt-th {
  color: $color-deep;
  font-size: 26px;
  font-weight: bold;
}
.utp-txt-th-1 {
  color: $color-low;
  font-weight: normal;
}
.utp-more1 {
  width: 24px;
  height: 24px;
}
.utp-int {
  width: 192px;
  height: 160px;
}
.utp-int-a {
  position: absolute;
  width: 192px;
  height: 76px;
}
.utp-int-i {
  width: 192px;
  height: 76px;
  position: relative;
}
.utp-int-icos {
  width: 84px;
  height: 76px;
}
.utp-int-ico {
  width: 60px;
  height: 60px;
}
.utp-int-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.utp-int-tips {
  flex: 1;
  padding-right: 16px;
}
