@import '../../styles/theme.scss';
.utp-storeHome1 {
  min-height: 100vh;
  background-color: #ffffff;
  &-likes {
    height: 138px;
    padding-left: 30px;
    padding-right: 30px;
    &-txt {
      color: #25a6fa;
      font-size: 26px;
    }
  }
  &-give {
    padding-left: 30px;
    padding-right: 30px;
    &-title {
      height: 98px;
    }
    &-items {
      margin-bottom: 8px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-item0 {
      display: inline-block;
    }

    &-item {
      margin-right: 24px;
      width: 176px;
      height: 234px;
      background-color: #fafafa;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-menusTop {
    height: 12px;
  }
  &-menus {
    background-color: #fff;
    &-1 {
      height: 88px;
    }
    &-2 {
      background-color: #fff;
      height: 88px;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 22px;
      padding-bottom: 22px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-item {
      display: inline-block;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
