@import '../../../styles/theme.scss';
.utp-message__container {
  width: 670px;
  padding: 0;
}
.utp-addWishList {
  background-color: $bgColor-dark;
  position: relative;
  &-share {
    position: absolute;
    bottom: 120px;
    right: 30px;
    z-index: 2;
  }
  &-empty {
    background: #fff;
    width: 100%;
    min-height: 620px;
  }
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 32px;
    &-content {
      width: 600px;
      height: 640px;
      overflow-y: scroll;
      background: #fff;
      padding: 50px;
      padding-bottom: 0;
      border-radius: 16px;
      margin: 300px auto;
      opacity: 1;
    }
    &-address {
      display: flex;
      flex-direction: column;
      margin: 200px auto;
      width: 670px;
      height: 920px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      padding-top: 50px;
    }
    &-addressbtm {
      width: 480px;
    }
    &-addBox {
      height: 720px;
      padding:0 40px;
      overflow-y: scroll;
    }
    &-addressBox {
      border-bottom: 1px solid #f6f6f6;
      padding-top: 12px;
      padding-bottom: 20px;
    }
    &-address1 {
      text-align: left;
      width: 480px;
      line-height: 40px;
      font-size: 28px;
      color: $color-normal;
      margin-bottom: 12px;
      @include lamp-clamp(2);
    }
    &-nickname {
      height: 420px;
      padding:0 40px;
      overflow-y: scroll;
      &-right {
        flex: 1;
        margin-left: 24px;
      }
      &-input {
        padding-left:20px ;
        margin-bottom: 60px;
        margin-top: 8px;
        text-align: left;
        height: 60px;
        border-radius: 12px;
        border: 2px solid rgba(239, 239, 239, 1);
      }
      &-item{
        margin-bottom: 60px;
      }
    }
  }
  &-edit {
    margin-left: 28px;
    margin-right: 30px;
  }

  &-content {
    // height: 418px;
    width: 100%;
    background-color: $bgColor-normal;
    margin-bottom: 10px;
    padding: 30px;

    &-Title {
      min-height: 88px;
      color: $color-deep;
      font-size: 32px;
      line-height: 44px;
      width: 100%;
      font-weight: 600;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 20px;
      outline: none;
      border: none;
      max-height: 150px;
      margin-bottom: 20px;
      background: #fff;
    }

    &-time,
    &-sort {
      font-size: 24px;
      color: $color-low;
    }

    &-textContent {
      min-height: 210px;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 20px;
      max-height: 300px;
      padding: 30px;
      width: 100%;
      background-color: #f4f4f4;
      font-size: 26px;
      outline: none;
      color: $color-normal;
      line-height: 40px;
      border: none;
    }
  }

  &-goods {
    // height: 418px;
    width: 100%;
    background-color: $bgColor-normal;
    padding: 30px;
    &-item {
      position: relative;
    }
    &-del {
      width: 44px;
      height: 44px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &-title {
      font-size: 34px;
      color: $color-deep;
      font-weight: bold;
    }
    &-addGoods {
      font-size: 28px;
      color: $color-deep;
    }
  }
}
