@import '../../../styles/theme.scss';
.utp-integral-success {
  padding: 90px 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:36px;
  font-family:$font-family2;
  font-weight:500;
  color:$color-deep;
  .utp-integral-success-icon {
    width: 128px;
    height: 128px;
    margin-bottom: 40px;
  }
  .utp-integral-success-deduct {
    font-size:28px;
    font-family:$font-family1;
    font-weight:400;
    color:$color-normal;
    margin-top:8px;
  }
  .utp-integral-success-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family:$font-family1;
    font-weight:400;
    font-size:30px;
    margin-top: 100px;
    .utp-integral-success-button-left {
      width:256px;
      height:80px;
      border-radius:45px;
      border:2px solid rgba(255,47,123,1);
      color:rgba(255,47,123,1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .utp-integral-success-button-right {
      width:256px;
      height:80px;
      background:rgba(255,47,123,1);
      border-radius:45px;
      color:rgba(255,255,255,1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .utp-integral-success-outApp {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:$font-family1;
    font-weight:400;
    font-size:30px;
    margin-top: 100px;
    .utp-integral-success-outApp-right {
      width:256px;
      height:80px;
      background:rgba(255,47,123,1);
      border-radius:45px;
      color:rgba(255,255,255,1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}