@import '../../../styles/theme.scss';

.utp-goodsReviews {
  &-ReviewsGoods-Wrap {
    background-color: #f7f4f8;
    // padding-top: 80px;
    margin-top: 80px;
  }

  &-ReviewsTab {
    width: 100%;
    height: 80px;
    background-color: #fbfbfb;
    position: fixed;
    z-index: 1;
    // margin-top: 80px;

    &-1,
    &-1-active {
      font-size: 28px;
      color: $color-low;
      position: relative;
    }

    &-1-active {
      color: $color-deep;
      font-weight: bold;
    }

    &-1-active::after {
      display: block;
      content: '';
      width: 60px;
      height: 4px;
      background-color: $color-deep;
      border-radius: 4px;
      z-index: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-ReviewsGoods {
    height: 220px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $bgColor-normal;
    position: relative;

    margin-bottom: 10px;
  }

  &-goodsInfo {
    padding-top: 30px;

    &-titles {
      flex: 1;
      margin-left: 20px;
      margin-right: 20px;
    }
    &-title {
      color: $color-deep;
      font-size: 28px;
      font-weight: bold;
      @include lamp-clamp(2);
    }

    &-tips {
      font-size: 26px;
    }

    &-size {
      background-color: #f6f6f6;
      display: inline-block;

      padding-top: 0;
      padding-bottom: 0;
      padding-right: 12px;
      padding-left: 12px;
      font-size: 20px;
      color: $color-normal;
      border-radius: 20px;
    }

    &-price {
      font-size: 28px;
      color: $color-active;
      font-weight: bold;
    }
  }

  &-ReviewsBtn {
    position: absolute;
    bottom: 20px;
    height: 60px;
    width: 100%;
  }

  &-Btn {
    width: 120px;
    height: 60px;
    color: $color-active;
    background-color: $bgColor-normal;
    border-top: 2px solid $color-active;
    border-bottom: 2px solid $color-active;
    border-left: 2px solid $color-active;
    border-right: 2px solid $color-active;
    line-height: 60px;
    font-size: 26px;
    text-align: center;
    border-radius: 34px;
    position: absolute;
    right: 56px;
    top: 0;
  }

  //   已评价

  &-AlreadyReviews {
    width: 100%;
    min-height: 348px;
    background-color: $bgColor-normal;
    padding-bottom: 30px;
    margin-bottom: 20px;

    &-goodsInfo {
      height: auto;
      width: 100%;
      //   border-bottom: 1px solid #f5f5f5;

      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 20px;
      padding-left: 20px;
    }

    &-titlesBox {
      margin-left: 20px;
    }

    &-titles {
      font-size: 24px;
      width: 100%;
      line-height: 36px;
      height: 72px;
      color: $color-normal;
      @include lamp-clamp(2);
    }

    &-Reviewscontent {
      font-size: 26px;
      color: $color-deep;

      padding-top: 0;
      padding-bottom: 0;
      padding-right: 20px;
      padding-left: 20px;
    }

    &-ReviewsImgBox {
      padding-left: 20px;
      margin-top: 10px;

      &-Img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }
    }

    &-storeRes {
      //   background-color: yellow;
      width: 100%;
      padding-left: 20px;

      &-content {
        width: calc(100% - 20px);

        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #f7f7f7;
        margin-top: 10px;

        &-1 {
          font-size: 26px;
          color: $color-normal;
        }
        &-2 {
          font-size: 26px;
          color: $color-deep;
        }
      }
    }
  }
}
