@import '../../styles/theme.scss';
.utp-card1 {
  background-color: #fff;
  border-top: 1px solid #c6c6c8;
  border-bottom: 1px solid #c6c6c8;
  margin-bottom: 20px;
  &-bds {
    padding: 22px 24px;
  }
  &-bd {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    &-imgs {
      width: 144px;
      height: 144px;
      margin-right: 24px;
    }
    &-box {
      flex: 1;
      height: 100%;
      &-tips {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  &-ft {
    border-top: 2px solid #eeeeee;
    padding-left: 24px;
    padding-right: 24px;
    &-btn {
      width: 170px;
      height: 56px;
      border: 1px solid #ff307c;
      border-radius: 10px;
    }
  }
}
