@import '../../../styles/theme.scss';
.utp-integral-details {
  .utp-integral-details-tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 100;
    background: #ffffff;
    .utp-integral-details-tab-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .utp-integral-details-tab-box-name {
        font-size:28px;
        font-weight:500;
        color:$color-deep;
      }
      .utp-integral-details-tab-box-line {
        width:60px;
        height:6px;
        background:$color-deep;
        border-radius:3px;
      }
    }
  }
  .utp-integral-details-body {
    padding: 80px 30px 0;
  }
}