@import '../../styles/theme.scss';
.utp-ico1s {
  position: relative;
  &-icos {
    position: absolute;
    width: 750px;
    bottom: 8px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &-ico {
      position: relative;
      width: 100px;
      height: 10px;
      background: rgba(238, 238, 238, 1);
      border-radius: 5px;
      &-crt {
        position: absolute;
        left: 0;
        top: 0;
        width: 34px;
        height: 10px;
        background: $color-active;
        border-radius: 5px;
      }
    }
  }
}
.utp-ico1 {
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 20px;
  width: 920px;
  &-1 {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  &-box {
    width: 164px;
    &-1 {
      width: 142px;
    }
  }
  position: relative;
  &-mores {
    &-more {
      margin-right: 8px;
    }
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-txts {
      width: 30px;
    }
    &-txt {
      margin-bottom: 12px;
    }
  }
}
