@import '../../../styles/theme.scss';

.utp-shopConcern {
  top: 0;
  &-businessInfo {
    background-color: $bgColor-normal;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    &-status {
      width: 120px;
      height: 44px;
      line-height: 44px;
      position: absolute;
      top: 30px;
      right: 30px;
      border: 1px solid #ccc;
      border-radius: 26px;
      font-size: 26px;
      color: $color-low;
      text-align: center;
    }
    &-content {
      font-size: 24px;
      color: $color-deep;
      margin-left: 6px;
    }
    &-labelsbox {
      display: flex;
      height: 30px;
      position: relative;
      flex-direction: row;
      align-items: center;
      padding-left: 6px;
      margin-left: 6px;
    }
    &-before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 12px;
      background: #eee;
    }
    &-label {
      width: 100%;
    }
    &-text {
      width: 100%;
      text-align: left;
    }
    &-textBox {
      flex: 1;
      margin-left: 24px;
      // margin-right: 20px;
    }

    &-text1 {
      height: 44px;
      width: 386px;
      font-size: 30px;
      color: $color-deep;
      font-weight: 500;
      // text-align: center;
      @include lamp-clamp(1);
      margin-bottom: 14px;
    }
    &-text2 {
      font-size: 24px;
      color: $color-normal;
      padding-right: 18px;
      // @include lamp-clamp(1);
    }
    &-text2box {
      margin-top: 18px;
      margin-bottom: 14px;
    }
    &-text3 {
      background: #fff7e1;
      font-size: 24px;
      color: #ff9d00;
      padding: 2px 8px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &-text4Box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      height: 44px;
      overflow: hidden;
      @include text-ellipsis();
    }
    &-text4 {
      height: 40px;
      font-size: 20px;
      color: $color-active;
      border: 1px solid $color-active;
      padding: 4px 8px;
      background: #fff5f9;
      margin-top: 4px;
      margin-left: 10px;
      border-radius: 4px;
    }
    &-Icon {
      width: 28px;
      height: 28px;
      margin-right: 40px;
    }
  }
}
.utp-shopConcern-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
