@import '../../../styles/theme.scss';
.utp-result1 {
  &-btn {
    width: 188px;
    height: 84px;
    border-radius: 64px;
    border: 1px solid #ff4a2a;
  }
}
.taro_page {
  background-color: #ffffff;
}
