@import '../../styles/theme.scss';
.utp-yuan{
    // min-width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: center;
    align-items: flex-end;
}