@import '../../../styles/theme.scss';

.utp-wishList {
  background-color: $bgColor-dark;

  &-create {
    width: 100%;

    &-icon_edit {
      position: fixed;
      left: 50%;
      bottom: 100px;
      transform: translateX(-50%);
    }
  }

  &-goodsInfo {
    padding: 30px;
    width: 100%;
    height: 240px;
    background-color: $bgColor-normal;
    margin-bottom: 20px;

    &-wishTitle {
      color: $color-deep;
      font-size: 28px;
      @include lamp-clamp(1);
    }

    &-tips {
      font-size: 26px;
    }

    &-imgs {
      margin-right: 10px;
    }
  }
}
