@import './styles/reset.scss';

/*每个页面公共css */
.flex {
	display: flex;

	&-inlne {
		display: inline-flex;
	}

	&-column {
		flex-direction: column;
	}
	&-row {
		flex-direction: row;
	}

	&-justify,
	&-j {
		&-start {
			justify-content: flex-start;
		}
		&-end {
			justify-content: flex-end;
		}
		&-center {
			justify-content: center;
		}
		&-between {
			justify-content: space-between;
		}
		&-around {
			justify-content: space-around;
		}
	}

	&-align,
	&-a {
		&-start {
			align-items: flex-start;
		}
		&-end {
			align-items: flex-end;
		}
		&-center {
			align-items: center;
		}
	}

  // 主轴和纵轴都居中
  &-center{
    align-items: center;
    justify-content: center;
  }
}

/*----- base css -----*/

// 加粗
.b {         font-weight: bold; }

// 下划线
.underline { text-decoration: underline; }

// 删除线
.strike {    text-decoration: line-through; }

// 字体大小
.fs-10{font-size: 10px;}
.fs-11{font-size: 11px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}