.integral-mall-menu {
  .menu-line-one {
    display: flex;
    .item {
      width: 228px;
      height: 160px;
      margin-right: 14px;
    }
    .item:last-child {
      margin-right: 0;
    }
  }
  .menu-line-two {
    display: flex;
    margin-top: 12px;
    .item {
      width: 168px;
      height: 100px;
      margin-right: 12px;
    }
    .item:last-child {
      margin-right: 0;
    }
  }
}