@import '../../styles/theme.scss';
.utp-details-swipe {
  height: auto;
}
.utp-details-price1 {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.utp-details-swipe {
  height: 750px;
  width: 750px;
  position: relative;

  .swiper-container {
    height: 100%;
  }

  &-1 {
    height: 750px;
    .utp-details-swipe {
      height: 100%;
    }
  }
  &-item {
    &-1 {
      //background-color: red;
      height: 750px;
    }
    &-2 {
      //background-color: pink;
      height: 750px;
    }
    &-3 {
      //background-color: blue;
      height: 750px;
    }
    &-8 {
      height: auto;
    }
  }
  &-nums {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #bcbdbf;
    position: absolute;
    z-index: 2;
    right: 30px;
    bottom: 30px;
  }
}

.utp-details {
  &-empty {
    height: 320px;
  }
  &-bd {
    margin-bottom: 120px;
    &-seckillBox {
      height: 70px;
      display: flex;
      padding: 0 20px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background: #fff;
      &-img {
        width: 138px;
        height: 38px;
        margin-right: 10px;
      }
    }
    &-seckill {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &-remind {
      height: 38px;
      color: #fff;
      font-size: 24px;
      background: #ffcc66;
      padding: 8px 20px;
      border-radius: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &-dark {
      background: #dddddd;
    }

    &-desimg {
      width: 100%;
      min-height: 200px;
      &-img {
        width: 100%;
        /*  #ifdef h5  */
        height: auto;
        /*  #endif  */
      }
    }
    &-price {
      color: $color-active;
      font-size: 60px;
      background: #fff;
    }
    &-comentbox {
      margin-top: 20px;
    }
    &-titles {
      &-1 {
        position: relative;
      }
      margin-bottom: 20px;
      position: relative;
      padding-top: 20px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $bgColor-normal;
      &-tags {
        position: absolute;
        height: 42px;
        top: 28px;
        left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        &-1 {
          top: 27px;
        }
      }
      &-title {
        line-height: 42px;
        font-size: 32px;
        color: $color-deep;
        margin-right: 100px;
      }
      &-isSelf {
        text-indent: 66px;
        flex:1;
         /*  #ifdef weapp  */
         padding-right:100px;
         /*  #endif  */
      }
      &-likes {
        width: 80px;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
    }
    &-acts {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $bgColor-normal;
      margin-bottom: 20px;
    }
    &-tabs {
      margin-bottom: 20px;
    }
    &-tab {
      border-width: 0;
      border-bottom-width: 1px;
      border-color: #f5f5f5;
      height: 100px;
    }
    &-stores {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
      padding-bottom: 24px;
      background-color: $bgColor-normal;
      margin-bottom: 20px;
      &-imgs {
        width: 80px;
        height: 80px;
        border-width: 1px;
        border-radius: 3px;
        border-color: #f3f3f3;
        margin-right: 22px;
      }
      &-title {
        flex: 1;
      }
      &-btn {
        height: 46px;
        padding-left: 36px;
        padding-right: 36px;
        border-radius: 46px;
        border-width: 2px;
        border-color: $color-active;
      }
    }
    &-likes {
      padding-top: 10px;
      padding-bottom: 36px;
      background-color: $bgColor-normal;
      margin-bottom: 20px;
    }
    &-evaluation {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0px;
      padding-bottom: 20px;
      background-color: $bgColor-normal;
      // margin-bottom: 20px;
      &-icos {
        width: 66px;
        height: 66px;
        border-width: 1px;
        border-radius: 66px;
        border-color: #fbfbfb;
        margin-right: 22px;
      }
      &-box {
        background-color: #f7f7f7;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        margin-top: 30px;
      }
    }
  }
  &-disbox {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 800px;
    &-title {
      margin-top: 40px;
      text-align: left;
    }
  }
  &-jifen {
    height: 100px;
    padding-bottom: 10px;
    background-color: #ff2f7b;
    &-1 {
      background-color: #cccccc;
    }
  }
  &-ft {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.taro_page {
  background-color: #f5f5f5;
}
