@import '../../../styles/theme.scss';
.utp-orders {
  width: 750px;
  &-hd {
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
  }
  &-menu {
    height: 70px;
    background-color: $bgColor-normal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    &-item {
      height: 62px;
      border-width: 0;
      border-bottom-width: 4px;
      border-color: #ffffff;
      &-crt {
        border-color: $color-deep;
      }
    }
  }
  &-bd {
    padding: 20px 0;
    &-address {
      padding-left: 10px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      height: 204px;
      &-icos {
        width: 120px;
      }
      &-rights {
        width: 44px;
      }
    }
    &-box {
      &-1 {
        padding-right: 5px;
      }
    }
    &-store {
      height: 80px;
      &-title {
        margin-left: 5px;
      }
    }
    &-goods {
      height: 234px;
      border-width: 0;
      border-top-width: 1px;
      border-color: #f5f5f5;
      &-1 {
        height: 194px;
      }
      &-imgs {
        border-width: 1px;
        border-color: #f7f7f7;
        &-1 {
          margin-right: 20px;
        }
      }
      &-titles {
        flex: 1;
        margin-left: 20px;
        margin-right: 24px;
        line-height: 36px;
        color: $color-deep;
        font-size: 26px;
        @include lamp-clamp(2);
      }
    }
  }
  &-wrap {
    background-color: $bgColor-normal;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    // margin-bottom: 20px;
    margin:20px;
    margin-top: 0;
  }
  &-ft {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-btns {
    height: 100px;
    background-color: $bgColor-normal;
    &-btn {
      width: 140px;
    }
  }
  &-prices{
    font-size: 28px;
    color: $color-active;
    font-weight: 500;
  }
}
.taro_page {
  background-color: #f5f5f5;
}
