@import '../../styles/theme.scss';
// .layout-body {
//   height: 800px;
// }
.utp-submit {
  &-bd {
    margin-bottom: 110px;
    padding-top: 20px;
    &-address {
      padding-left: 10px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      height: 204px;
      &-icos {
        width: 120px;
      }
      &-rights {
        width: 44px;
      }
    }
    &-box {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      background: #fff;
      border-radius: 20px;
      &-1 {
        padding-right: 5px;
        margin-bottom: 0;
      }
      &-2 {
        padding-top: 8px;
        padding-bottom: 0px;
      }
    }
    &-store {
      height: 80px;
      &-title {
        margin-left: 5px;
        margin-right: 15px;
      }
    }
  }
  &-barBox {
    padding-left: 20px;
    padding-right: 20px;
    &-top {
      height: 584px;
      overflow-y: scroll;
    }
    &-btn {
      position: fixed;
      padding-top: 20px;
      left: 40px;
      right: 40px;
      bottom: 70px;
    }
  }
  &-model {
    margin-left: 30px;
    margin-right: 30px;
    &-1 {
      margin-left: 0;
      margin-right: 0;
    }
    &-peisong {
      position: relative;
      height: 100px;
      &-gang {
        position: absolute;
        z-index: 4;
        left: 30px;
        height: 2px;
        background-color: #f0f0f0;
        right: 30px;
        bottom: 0;
      }
      &-b {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
    &-b1 {
      position: relative;
      z-index: 3;
      padding-left: 30px;
      padding-right: 30px;
    }
    &-top {
      overflow-y: scroll;
    }
    &-btn {
      position: fixed;
      padding-top: 20px;
      left: 40px;
      right: 40px;
      bottom: 0;
    }
  }
  &-timer {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
    &-left {
      min-height: 100%;
      width: 200px;
      text-align: center;
      background: #f8f8f8;
      color: $color-low;
      &-item {
        height: 100px;
        line-height: 100px;
      }
    }
    &-right {
      flex: 1;
      margin-left: 20px;
      margin-right: 20px;
      overflow-y: scroll;
      &-item {
        border-bottom-width: 1px;
        border-bottom-color: #eeeeee;
        border-bottom-style: solid;
      }
    }
  }
  &-remarks {
    margin-left: 20px;
    flex: 1;
    input {
      font-size: 28px;
      font-weight: 500;
    }
  }
  .leftActived {
    background: #fff5f9;
    color: $color-active;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
  }
  .img {
    width: 36px;
    height: 36px;
  }
  &-ft {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    /*postcss-pxtransform rn eject disable*/
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-btns {
    height: 100px;
    background-color: $bgColor-normal;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    &-btn {
      width: 188px;
    }
  }
  &-address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 132px;
    padding-top: 24px;
    &-title {
      width: 114px;
    }
    &-cont {
      flex: 1;
      margin-left: 20px;
    }
    &-cont1 {
      text-align: left;
      flex: 1;
    }
  }
  &-tip {
    background: #fff5f9;
    padding-left: 20px;
  }
}

.taro_page {
  background-color: #f5f5f5;
}
