@import '../../styles/theme.scss';
$color: $color-active;
@mixin flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.utp-message {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 810;
  // transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  &.active {
    visibility: visible;
    .utp-message__overlay {
      opacity: 1;
    }
    .utp-message__container {
      transform: translate3d(0, 0, 0);
    }
  }
  &-typebtn1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: $color-deep;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dddddd;
    justify-content: space-between;
  }
  &-btn {
    flex: 1;
  }
  &-btn1 {
    border-right: 1px solid #dddddd;
  }
  &-typebtn2 {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    &-item {
      width: 240px;
      height: 80px;
      border-radius: 45px;
      font-size: 28px;
      line-height: 80px;
      text-align: center;
    }
    &-item1 {
      color: $color-low;
      background: white;
      border-width: 1px;
      border-color: #dddddd;
      border-style: solid;
    }
    &-item2 {
      background-color: #ff1a8a;
      /*postcss-pxtransform rn eject enable*/
      background-image: linear-gradient(to right, #fc3344, #fd25e5);
      /*postcss-pxtransform rn eject disable*/
      color: #fff;
    }
  }
  &-typebtn3 {
    padding-left: 114px;
    padding-right: 114px;
    margin-bottom: 40px;
    &-item {
      width: 402px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 32px;
      border-radius: 45px;
      border: none;
    }
  }
  &-content {
    padding: 20px;
    text-align: center;
    color: $color-deep;
    font-size: 32px;
    min-height: 200px;
    max-height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 81px;
  }
}
.utp-message__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.utp-message__container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40% auto;
  width: 80%;
  background-color: $bgColor-normal;
  border-radius: 16px;
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1),
    -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
}

.utp-message .layout-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: $color-deep;
  font-size: 34px;
  font-weight: 500;
}
.utp-message .layout-body {
  position: relative;
}
