.app-header {
    padding: 0 20px;
    height: 88px;
    line-height: 88px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    // background-color: #fff;
    &-back {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 48px;
        height: 48px;
    }
    &-title {
        font-size: 34px;
        font-weight: 500;
    }
    &-right {
        font-size: 28px;
        position: absolute;
        right: 20px;
        height: 60px;
        width: 60px;
        top: 20px;
    }
}