@import '../../../styles/theme.scss';
.search {
    &-hd-1 {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 10px;
        background-color: #fff;
        z-index: 1;
    }
    &-hd {
        position: absolute;
        /*postcss-pxtransform rn eject enable*/
        position: fixed;
        /*postcss-pxtransform rn eject disable*/
        left: 0;
        right: 0;
        top: 0;
        background-color: #fbfbfb;
        z-index: 1;
        &-schs {
            height: 92px;
            padding-left: 30px;
        }
        &-sch {
            position: relative;
            height: 64px;
            border-width: 3px;
            border-radius: 64px;
            background: #f5f5f5;
            margin-right: 6px;
            flex: 1;
            padding-right: 20px;
            padding-left: 20px;
        }
        &-ipts {
            flex: 1;
            padding-right: 10px;
            padding-left: 10px;
        }
        &-ipts1 {
            height: 100%;
            font-size: 28px;
            color: #bbbbbb;
        }
    }
    &-ft {
        position: absolute;
        /*postcss-pxtransform rn eject enable*/
        position: fixed;
        /*postcss-pxtransform rn eject disable*/
        left: 0;
        right: 0;
        top: 0;
    }
}