@import '../../styles/theme.scss';
.utp-sub-goods {
  position: relative;
  height: 168px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
/*  #ifdef weapp  */
.utp-div {
  box-sizing: border-box;
}
/*  #endif  */
/*  #ifdef h5  */
.utp-div {
  box-sizing: border-box;
}
.utp-order-bd-cl{
  height:5px;
}
/*  #endif  */
.utp-sub-goods-i {
  width: 168px;
  height: 168px;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
}
.utp-sub-goods-img {
  width: 100%;
  height: 100%;
}
.utp-sub-goods-item {
  flex: 1;
  position: relative;
  height: 168px;
  margin-left: 20px;
  margin-right: 20px;
}
.utp-sub-goods-titles {
  margin-top: 0px;
}
.utp-sub-goods-title {
  color: #3c3c3c;
  font-size: 26px;
  line-height: 36px;
  @include lamp-clamp(2) /*  #ifdef h5  */ /*  #endif  */;
}
.utp-sub-goods-moneys {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.utp-sub-goods-money {
  color: $color-active;
  line-height: 40px;
  font-size: 26px;
  font-weight: 500;
}
.utp-sub-goods-moneyor {
  margin-left: 10px;
  color: $color-low;
  line-height: 40px;
  font-size: 20px;
  text-decoration: line-through;
}
.utp-sub-goods-nums {
  position: absolute;
  height: 44px;
  bottom: 0;
  right: 0;
}

.utp-sub-goods-num {
  color: $color-active;
  font-size: 26px;
  // background-color: yellowgreen;
}
.utp-sub-goods-more-t {
  color: #6b6b6b;
  font-size: 24px;
}
.utp-sub-goods-more {
  height: 40px;
  border-radius: 40px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 22px;
  padding-right: 22px;
  position: absolute;
  bottom: 48px;
  left: 0;
}
